<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<header>
     <div id="header_wrap">
  <!-----------------top-bar start ---------------- -->
  <div class="navbar-custom"> <!--화면 길이만큼의 topbar-->
    <div class="topbar"> <!--사이드바를 제외한 topbar-->
      <div class="l-flex"> 
      <a th:href="@{/potal}" class="topbarA"><span>Potal</span></a>      
       	<a th:href="@{/noticelist}" class="topbarA"><span>Notice</span></a>
       	   <!-- <span th:text="${softsyncEmployee.name}+'님'"></span> -->
        <a th:href="@{/logout}" class="blueBtn">로그아웃</a>    
      </div>
    </div>
  </div>
  </div>
</header>
</body>
</html>