<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/css/common/common.css">
    <link type="text/css" rel="stylesheet" href="/css/common/login.css">
</head>
<body id="full_body">
<div id="login_container">
    <div class="side_logo">
        <img src="/images/logo.png" alt="로고">
    </div>
    <h3>로그인</h3>
    <div id="login_wrap">
        <form id="login_form" action="/login" method="post">
            <div class="form_list">
                <div class="form_item">
                    <label for="id"></label>
                    <input type="text" id="id" name="userId" placeholder="아이디를 입력하세요" autofocus>
                </div>
                <hr>
                <div class="form_item">
                    <label for="password"></label>
                    <input type="password" id="password" name="userPw" placeholder="비밀번호를 입력하세요">
                </div>
            </div>
            <button class="login_button" type="submit">로그인</button>
        </form>
        <div class="account_links">
            <a href="/account_register">회원가입</a>
        </div>
    </div>
</div>
</body>
</html>