<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SOFT SYNC LOGISTICS SYSTEM POTAL</title>
<link type="text/css" rel="stylesheet" href="/css/common/header.css">
<link type="text/css" rel="stylesheet" href="/css/common/common.css">
<link type="text/css" rel="stylesheet" href="/css/common/potal.css">
</head>
<body>
	<div th:insert="~{/common/header :: header}"></div>
	<h1>
		SOFT SYNC <br>LOGISTICS SYSTEM POTAL
	</h1>
	<div class="container">
		<div class="menu">
			<h3>조달관리</h3>
			<hr>
			<ul>
				<li class="menu-item"><a href="add_prod">품목등록</a></li>
				<li class="menu-item"><a href="add_contract">계약등록</a></li>
				<li class="menu-item"><a href="add_LTplan">조달계획등록</a></li>
			</ul>
		</div>
		<div class="menu">
			<h3>발주관리</h3>
			<hr>
			<ul>
				<li class="menu-item"><a href="purchase_order">구매발주서관리</a></li>
				<li class="menu-item"><a href="purchase_schedule">진척검수처리</a></li>
				<li class="menu-item"><a href="purchase_order_tracking">발주진행현황</a></li>
			</ul>
		</div>
		<div class="menu">
			<h3>자재관리</h3>
			<hr>
			<ul>
				<li class="menu-item"><a href="receivings">자재입고</a></li>
				<li class="menu-item"><a href="invoice">거래명세서발행</a></li>
				<li class="menu-item"><a href="shipping_list">자재출고</a></li>
				<li class="menu-item"><a href="inventory_period">재고산출</a></li>
				<li class="menu-item"><a href="stock_report">재고관리리포트</a></li>
			</ul>
		</div>
	</div>
	<div class="homeBtn">
		<a href="dashBoard"><button type="button">메인 홈으로 </button></a>
	</div>
</html>