<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="sidebar" id="sidebar">
		<div class="sidenav-toggle">
			<button onclick="toggleSidenav()">☰</button>
		</div>
		<div class="sidenav">
			<a href="/dashBoard" class="logo"><img src="/images/logo.png"><br>
			<span class="main-title">SOFT SYNC</span></a>
			
			<button class="dropdown-btn">조달관리</button>
			<div class="dropdown-container">
				<a href="/add_prod" class="dropdown-item">&#9656;&nbsp; 품목등록</a> <a
					href="/add_contract" class="dropdown-item">&#9656;&nbsp; 계약등록</a> <a
					href="/add_LTplan" class="dropdown-item">&#9656;&nbsp; 조달계획등록</a>
			</div>
			<button class="dropdown-btn">발주관리</button>
			<div class="dropdown-container">
				<a href="/purchase_order" class="dropdown-item">&#9656;&nbsp; 구매발주서관리</a> 
				<a href="/purchase_order_list" class="dropdown-item">&#9656;&nbsp; 발주 리스트</a>
				<a href="/purchase_schedule" class="dropdown-item">&#9656;&nbsp; 진척검수처리</a>
				<a href="/purchase_order_tracking" class="dropdown-item">&#9656;&nbsp; 발주진행현황</a>
			</div>
			<button class="dropdown-btn">자재관리</button>
			<div class="dropdown-container">
				<a href="/receivings" class="dropdown-item">&#9656;&nbsp; 자재입고</a> <a
					href="/invoice" class="dropdown-item">&#9656;&nbsp; 거래명세서발행</a> <a
					href="/shipping_list" class="dropdown-item">&#9656;&nbsp; 자재출고</a> <a
					href="/inventory_period" class="dropdown-item">&#9656;&nbsp;
					재고산출</a>
					 <a href="/stock_report" class="dropdown-item">&#9656;&nbsp; 재고관리리포트</a>
			</div>
		</div>
	</div>
</body>
</html>