<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="../css/purchase_order.css">
<link type="text/css" rel="stylesheet" href="../css/header.css">
<link type="text/css" rel="stylesheet" href="../css/common.css">
<link type="text/css" rel="stylesheet" href="../css/sidebar.css">
<script type="text/javascript" src="../js/sidebar.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div th:insert="~{common/sidebar :: sidebar}"></div>
	<div class="main-content">
		<div th:insert="~{common/header :: header}"></div>
		<div id="row1">
			<h2 class="visual-title">구매발주서</h2>
			<form th:action="@{/saveOrders}" method="POST" enctype="multipart/form-data">
				<div>
					<button type="submit" class="blueBtn">저장</button>
					<button type="button" id="popupBtn" class="blueBtn">발주서 발행</button>
					<button type="reset" class="blueBtn">초기화</button>
				</div>
				<input type="number" id="contractNumCell" name="contract_number">
				<input type="text" id="itemCodeCell" name="itemCode"> 
				<table class="table" id="1">
					<colgroup>
						<col width="10%">
						<col width="40%">
						<col width="10%">
						<col width="40%">
					</colgroup>
					<tbody>
						<tr>
							<th>발주번호</th>
							<td></td>
							<!-- <td><input type="text" name="orderNo" readonly></td> -->
							<th>사업자등록번호</th>
							<td id="brn"><input type="text" name="brn"> 
							<!--    
		               <select name="brn">
		                   <option value="">업체 선택</option>
		                   <option th:each="company : ${company}"
		                           th:value="${company.brn}"
		                           th:text="${company.brn}">
		                   </option>
		               </select> --></td>
						</tr>
						<tr>
							<th>발신처</th>
							<td><b>(주) SOFT-SYNC</b></td>
							<th>수신처</th>
							<td><input type="text" name="company_name" readonly></td>
						</tr>
						<tr>
							<th>연락처</th>
							<td>031-5555-5555</td>
							<th>대표자명</th>
							<td><input type="text" name="company_ceo" readonly></td>
						</tr>
						<tr>
							<th>발주일</th>
							<td><input type="text" name="orderDate" id="orderDate"
								readonly></td>
							<th>주소</th>
							<td><input type="text" name="company_address" readonly></td>
						</tr>
						<tr>
							<th>납기일</th>
							<td id="leadTimeCell"><input type="text"
								name="receiveDuedate" readonly></td>
							<th>담당자</th>
							<td><input type="text" name="manager" readonly></td>
						</tr>
						<tr>
							<th>지불조건</th>
							<td>내규에 따름</td>
							<th>연락처</th>
							<td><input type="text" name="manager_tel" readonly></td>
						</tr>
					</tbody>
				</table>
				<table class="listTable" id="2">
					<tr>
						<th>번호</th>
						<th>품명</th>
						<th>재질</th>
						<th>규격</th>
						<th>단위</th>
						<th>수량</th>
						<th>단가</th>
						<th>공급가액</th>
						<th>비고</th>
					</tr>
					<tr>
						<td>1</td>
						<td id="itemNameCell"><input type="text" name="itemName"
							readonly></td>
						<td id="itemMaterialCell"><input type="text" name="material"
							readonly></td>
						<td id="itemDimensionsCell"><input type="text"
							name="dimensions" readonly></td>
						<td>EA</td>
						<td id="orderQuantityCell"><input type="number"
							name="orderQuantity"></td>
						<td id="unitPriceCell"><input type="text" name="unitPrice"></td>
						<td id="totalPriceCell"><input type="text" name="totalPrice"
							readonly></td>
						<td id="orderNote"><input type="text" name="orderNote"></td>
					</tr>
				</table>
			</form>
		</div>
		<div id="row2">
			<div id="ordersList">
				<h2 class="visual-title">계약관리</h2>
				<div class="search-container">
					<input type="date"> ~ <input type="date">
					<button type="submit" class="blueBtn">검색</button>
					<a href="purchase_order_list">
						<button type="button" class="blueBtn">목록</button>
					</a>
				</div>
			<table class="listTable" id="3">
					<colgroup>
						<col width="8%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
						<col width="14%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
						<col width="10%">
						<col width="7%">
					</colgroup>
					<tr id="item">
						<th>계약번호</th>
						<th>품목코드</th>
						<th>품목명</th>
						<th>재질</th>
						<th>규격</th>
						<th>발주수량</th>
						<th>단가</th>
						<th>발주일</th>
						<th>납기일</th>
						<th>추가/확인</th>
					</tr>
					<tr th:each="contract : ${contracts}">
						<td th:text="${contract.contract_number}">계약번호</td>
						<td th:text="${contract.item.itemCode}">품목코드</td>
						<td th:text="${contract.item.itemName}">품목명</td>
						<td th:text="${contract.item.material}">재질</td>
						<td th:text="${contract.item.dimensions}">규격</td>
						<td th:text="${contract.orders.size() > 0 ? contract.orders[0].orderQuantity : 'N/A'}">N/A</td>
						<td th:text="${contract.unit_price}">단가</td>
						<td th:text="${contract.orders.size() > 0 ? contract.orders[0].orderDate : 'N/A'}">N/A</td>
						<td th:text="${contract.lead_time}">납기일</td>
						<td th:if="${contract.orders.size() > 0 && contract.orders[0].orderYn == 'Y'}">
							<button id="detailBtn" class="blueBtn">상세</button>
						</td>
						<td th:unless="${contract.orders.size() > 0 && contract.orders[0].orderYn == 'Y'}">
							<button id="addBtn" class="blueBtn">추가</button>
						</td>
					</tr>
					
				</table>
			</div>
		</div>
	</div>

	<!-- 모달화면 -->
	<div id="modalWrap">
		<div id="modalBody">
			<button type="button" class="closeBtn">&times;</button>
			<table>
				<colgroup>
					<col width="12%">
					<col width="38%">
					<col width="12%">
					<col width="38%">
				</colgroup>
				<tbody>
					<tr>
						<td colspan="4" style="text-align: center;"><h1>발주서</h1></td>

					</tr>
					<tr>
						<td colspan="4" style="text-align: center;"><br> <br>
							<span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span><span>년</span>
							<span th:text="${#dates.format(#dates.createNow(), 'MM')}"></span><span>월</span>
							<span th:text="${#dates.format(#dates.createNow(), 'dd')}"></span><span>일</span><br>
							아래와 같이 발주합니다. <br> <br> (주) SOFT-SYNC (인) <!-- <img id="signature" src="../images/dojang.png" alt="결재 이미지"> -->
							<br> <br></td>
					</tr>
					<tr>
						<th>사업자번호</th>
						<td id="brnModal"><input type="text" name="brn" readonly></td>
						<th>발주번호</th>
						<td id="orderNoModal"><input type="text" name="orderNo" readonly></td>
					</tr>
					<tr>
						<th>상호</th>
						<td id="companyNameModal"><input type="text" name="companyName" readonly></td>
						<th>대표자성명</th>
						<td id="companyCeoModal"><input type="text" name="companyCeo" readonly></td>
					</tr>
					<tr>
						<th>주소</th>
						<td colspan="3" id="companyAddressModal"><input type="text" name="companyAddress" readonly></td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td id="managerTelModal"><input type="text" name="managerTel" readonly></td>
						<th>이메일</th>
						<td id="managerEmailModal"><input type="text" name="managerEmail" readonly></td>
					</tr>
				</tbody>
			</table>

			<table>
				<colgroup>
					<col width="5%">
					<col width="30%">
					<col width="15%">
					<col width="25%">
					<col width="25%">
				</colgroup>
				<tbody>
					<tr>
						<th>No</th>
						<th>품명</th>
						<th>수량</th>
						<th>단가</th>
						<th>공급가액</th>
					</tr>
					<tr>
						<td>1</td>
						<td id="itemNameModal"><input type="text" name="itemName" readonly></td>
						<td id="orderQuantityModal"><input type="text" name="orderQuantity" readonly></td>
						<td id="unitPriceModal"><input type="text" name="unitPrice" readonly></td>
						<td id="totalPriceModal"><input type="text" name="totalPrice" readonly></td>
					</tr>
					<tr>
						<td>2</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>3</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>4</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>5</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>6</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>7</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>8</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>비고</td>
						<td colspan="4"></td>
					</tr>
				</tbody>
			</table>
			<div>
				<button type="submit" class="blueBtn">발주서 전송</button>
				<button type="reset" class="blueBtn" id="printBtn"
					onClick="printModalContent()">파일저장 및 인쇄</button>
			</div>

		</div>
	</div>






	<script>
	const popupBtn = document.getElementById("popupBtn"); // 팝업 버튼 요소 가져오기
	const modalWrap = document.getElementById("modalWrap"); // 모달 요소 가져오기
	const closeBtn = document.querySelector(".closeBtn"); // 모달 닫기 버튼 요소 가져오기
	const modalImage = document.getElementById("modalImage");
	
	// 팝업 버튼 클릭 시 모달 열기
	popupBtn.addEventListener("click", function() {
	  modalWrap.style.display = "block";
	});
	
	// 모달 닫기 버튼 클릭 시 모달 닫기
	closeBtn.addEventListener("click", function() {
	  modalWrap.style.display = "none";
	});
	
	// 모달 외부 클릭 시 모달 닫기
	window.addEventListener("click", function(event) {
	  if (event.target === modalWrap) {
	    modalWrap.style.display = "none";
	  }
	});

 function printModalContent() {
        // 모든 버튼과 모달 내 요소를 프린트하기 전에 임시로 숨깁니다.
        var buttons = document.querySelectorAll('.closeBtn, .blueBtn');
        buttons.forEach(function(button) {
            button.style.display = 'none';
        });

        // 인쇄할 모달의 내용을 저장
        var modalContent = document.getElementById('modalBody').innerHTML;

        // 프린트합니다.
        var originalContent = document.body.innerHTML; // 현재 문서의 내용을 저장
        document.body.innerHTML = modalContent; // 모달의 내용으로 문서의 내용을 변경
        window.print(); // 인쇄 
        document.body.innerHTML = originalContent; // 원래의 내용으로 복원

        // 프린트 후 다시 보이도록 스타일을 원래대로 복원합니다.
        buttons.forEach(function(button) {
            button.style.display = 'block';
        });
    }

    // 버튼 클릭 이벤트에 함수 연결
    document.getElementById('printBtn').addEventListener('click', function() {
        printModalContent();
    }); 

</script>
	<script>
	///////////////////////////////////하단 테이블 추가 버튼누르면 값입력
  $(document).ready(function() {
	  $('#3').on('click', 'button#addBtn', function() {
	    var $row = $(this).closest('tr');
	    var contractNum = $row.find('td:nth-child(1)').text().trim();
	    var itemCode = $row.find('td:nth-child(2)').text().trim();
	    var itemName = $row.find('td:nth-child(3)').text().trim();
	    var itemMaterial = $row.find('td:nth-child(4)').text().trim();
	    var itemDimensions = $row.find('td:nth-child(5)').text().trim();
	    var unitPrice = $row.find('td:nth-child(7)').text().trim();
	    var leadTime = $row.find('td:nth-child(9)').text().trim();
	    
	    $('#contractNumCell').val(contractNum);
	    $('#itemCodeCell').val(itemCode);
	    $('#itemNameCell input').val(itemName);
	    $('#itemMaterialCell input').val(itemMaterial);
	    $('#itemDimensionsCell input').val(itemDimensions);
	    $('#unitPriceCell input').val(unitPrice);
	    $('#leadTimeCell input').val(leadTime);
	    
	  });
	});


/////////////////////////////////// 하단테이블 상세 버튼 누르면 값 입력
    $(document).ready(function() {
        // 하단 테이블의 품목행 대한 클릭 이벤트 처리 
        $('#contractList table tr#item').click(function() {
            // 클릭한 행에서 품목코드와 품목명 가져오기
            var itemCode = $(this).find('td:eq(1)').text().trim(); // 품목코드 (두 번째 열)
            var itemName = $(this).find('td:eq(2)').text().trim(); // 품목명 (세 번째 열)
            var brnValue = $('#brn input[name="brn"]').val();
            
            // 상단 테이블의 품목코드와 품목명 위치에 정보 넣기
            $('#itemCodeCell input[name="itemCode"]').val(itemCode).prop('readonly', true);
            $('#itemNameCell input[name="itemName"]').val(itemName).prop('readonly', true);
            $('#brn input[name="brn"]').val(brnValue);
        });
        
        
        // 상단 테이블의 계약 행 대한 클릭 이벤트 처리 
        $('#contractList table tr#contract').click(function() {
            // 클릭한 행에서 계약정보 가져오기
            var itemCode = $(this).find('td:eq(1)').text().trim();
            var itemName = $(this).find('td:eq(2)').text().trim();
            var brn = $(this).find("td:eq(4)").text().trim();
            
            // 상단 테이블에 정보 넣기
            $('#itemCodeCell input[name="itemCode"]').val(itemCode);
            $('#itemNameCell input[name="itemName"]').val(itemName);
            $('#brn input[name="brn"]').val(brn);    
        });
        
        // 상단 테이블의 계약 행 대한 클릭 이벤트 처리 
        $("#contractList table[id='3'] tr").click(function() {
            // 클릭한 행에서 계약정보 가져오기
            var contractNumber = $(this).find('td:eq(0)').text().trim();
            var itemCode = $(this).find('td:eq(1)').text().trim();
            var itemName = $(this).find('td:eq(2)').text().trim();
            var companyName = $(this).find('td:eq(3)').text().trim();
            var brn = $(this).find('td:eq(4)').text().trim();
            var unitPrice = $(this).find('td:eq(5)').text().trim();
            var leadTime = $(this).find('td:eq(6)').text().trim();
            var contractNote = $(this).find('td:eq(7)').text().trim();
            var conYn = $(this).find('td:eq(8)').text().trim();
            
            //계약 완료시 조회만 되게함 .prop
            var ConBool = false;
            if (conYn === 'y'){
            	ConBool = true;
            	  $('#buttonContainer').hide();  //계약완료시  저장, 초기화버튼 감추기
            }
            else{
            	 $('#buttonContainer').show();
            }
            
            // 해당 정보를 상단의 입력 필드에 넣기
            $('#itemCodeCell input[name="itemCode"]').val(itemCode).prop('readonly', ConBool);
            $('#itemCodeCell input[name="itemCode"]').val(itemCode).prop('readonly', ConBool);
            $('#itemNameCell input[name="itemName"]').val(itemName).prop('readonly', ConBool);
            $('#brn input[name="brn"]').val(brn).trigger('change').prop('readonly', ConBool);
            $('#unitPriceCell input[name="price"]').val(unitPrice).prop('readonly', ConBool);
            $('#leadTimeCell input[name="leadTime"]').val(leadTime).prop('readonly', ConBool);
            $('#contractNote input[name="contractNote"]').val(contractNote).prop('readonly', ConBool);
            
            
        });
    });
    
</script>
	<!-- brn을 통해 업체명/계좌/비고를 불러옴(제이쿼리) -->
	<script type="text/javascript">
		$(document).ready(function() {
		    $('input[name="brn"]').on('change', function(event) { 
		        var brn = $(this).val(); 
		        if (brn !== '') { 
		            $.ajax({
		                url: '/getCompanyInfo', // 서버의 컨트롤러 경로
		                type: 'POST',
		                contentType: 'application/json',
		                data: JSON.stringify({ brn: brn }), // 사업자번호를 JSON 형식으로 전송
		                success: function(response) {
		                    // 서버로부터 받은 데이터를 화면에 표시
		                    $('input[name="company_name"]').val(response.company_name);
		                    $('input[name="manager"]').val(response.manager);
		                    $('input[name="company_ceo"]').val(response.company_ceo);
		                    $('input[name="company_address"]').val(response.company_address);
		                    $('input[name="manager_tel"]').val(response.manager_tel);
		                }
		            });
		        }
		    });
		});

		
   /////////////////// 현재 날짜를 가져오는 함수
    function getCurrentDate() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더해줍니다.
        const day = String(now.getDate()).padStart(2, '0');
        return `${year}-${month}-${day}`;
    }

    // 페이지가 로드될 때 실행되는 함수
    window.onload = function() {
        const orderDateInput = document.getElementById('orderDate');
        // 현재 날짜를 가져와서 입력란에 설정
        orderDateInput.value = getCurrentDate();
    };
    

////////////////공급가액 자동 계산
document.addEventListener('DOMContentLoaded', function () {
    const unitPriceInput = document.querySelector('input[name="unitPrice"]');
    const orderQuantityInput = document.querySelector('input[name="orderQuantity"]');
    const totalPriceInput = document.querySelector('input[name="totalPrice"]');

    function calculateTotalPrice() {
        const unitPrice = parseFloat(unitPriceInput.value.replace(/,/g, '')) || 0;
        const orderQuantity = parseFloat(orderQuantityInput.value) || 0;
        const totalPrice = unitPrice * orderQuantity;
        // 공급가액에 콤마 없이 표시
        totalPriceInput.value = totalPrice.toString();
        
        //콤마 있게 표시
        /* totalPriceInput.value = totalPrice.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 }); */
    }

    unitPriceInput.addEventListener('input', calculateTotalPrice);
    orderQuantityInput.addEventListener('input', calculateTotalPrice);
});
</script>

</body>
</html>