<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="../CSS/common/header.css">
<link type="text/css" rel="stylesheet" href="../CSS/common/common.css">
<link type="text/css" rel="stylesheet" href="../CSS/common/sidebar.css">
  <link type="text/css" rel="stylesheet" href="../css/orders/orderTracking.css">
  <script type="text/javascript" src="../js/sidebar.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

</head>
<body>
	<div th:insert="~{common/sidebar :: sidebar}"></div>
	<div class="main-content">
		<div th:insert="~{common/header :: header}"></div>
		<div id="row1">
		<h1 class="visual-title">발주 진행 현황 리포트</h1>
		<div class="content-card">
		<div id="container1" style="height: 700px; width: 70%;"></div>
	    <!-- <div class="b-graph-wrap">
	      <div class="b-graph">
	        <p class="home-title"> REPORT </p>
	        <div class="b-graph-body">
	          <div class="bar bar1"></div>
	          <div class="bar bar2"></div>
	          <div class="bar bar3"></div>
	          <div class="bar bar4"></div>
	        </div>
	      </div>
	    </div> -->
	    <div class="card-wrap">
	    <form id="searchForm">
			<!-- 날짜 선택 영역 -->
			<div class="date-range">
				<label for="startDate"></label> <input type="date" id="startDate">
				<label for="endDate">~</label> <input type="date" id="endDate">
			</div>
			<!-- 검색 옵션과 필드 -->
			<div class="search-bar">
				<select id="filterSelect">
					<option value="itemCode">품목코드</option>
					<option value="itemName">품목명</option>
					<option value="productName">제품명</option>
					<option value="consumption">소요량</option>
					<option value="stock">재고수량</option>
				</select> <input type="text" id="searchInput" placeholder="검색...">
				<button type="button" class="blueBtn">검색</button>
			</div>
		</form>
	      <div class="col1">
	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">조달계획</p>
	            <h2 class="card-content">50</h2>
	          </div>
	        </div>
	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">발주서발행</p>
	            <h2 class="card-content">30</h2>
	          </div>
	        </div>
      	    <div class="card">
	          <div class="card-body">
	            <p class="card-title">진척검사진행</p>
	            <h2 class="card-content">20</h2>
	          </div>
	        </div>
   	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">조달마감</p>
	            <h2 class="card-content">15</h2>
	          </div>
	        </div>
	      </div>
	    </div>
		</div>
		</div>
</div>
	  



 <!--  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // 각 막대에 대해 높이를 지정하는 값을 변경
      var bars = document.querySelectorAll(".bar");
      var gap = 100; // 막대 간격
      var width = 20; // 막대 너비
      var start
      bars.forEach(function(bar, index) {
        var leftValue = index * (gap + width) + 30; // 좌표 계산
        bar.style.left = leftValue + "px"; // 각 막대에 좌표를 지정

        var height = Math.random() * 90; // 0부터 100까지 무작위 높이 생성
        bar.style.height = height + "%"; // 각 막대에 높이를 지정
      });
    });
  </script> -->
  <script type="text/javascript">
      var dom = document.getElementById('container1');
      var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
      });
      var app = {};

      var option;

      option = {
          xAxis: {
              type: 'category',
              data: ['총 조달계획', '발주서 발행', '진척 검수', '조달 마감']
          },
          yAxis: {
              type: 'value'
          },
          series: [
              {
                  data: [50, 30, 20, 15],
                  type: 'bar',
                  showBackground: true,
                  backgroundStyle: {
                      color: 'rgba(180, 180, 180, 0.2)'
                  }
              }
          ]
      };

      if (option && typeof option === 'object') {
          myChart.setOption(option);
      }

      window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>