<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="../CSS/header.css">
    <link type="text/css" rel="stylesheet" href="../CSS/common.css">
    <link type="text/css" rel="stylesheet" href="../CSS/sidebar.css">
    <link type="text/css" rel="stylesheet" href="../CSS/invoice.css">
    <script type="text/javascript" src="../js/sidebar.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:insert="~{common/sidebar :: sidebar}"></div>
<div class="main-content">
    <div th:insert="~{common/header :: header}"></div>
    <div id="row1">
        <div class="head">
            <div class="left">
                품목코드 <input id="searchInput" type="text" placeholder="품목코드 입력">
                <button onclick="search()" class="blueBtn">검색</button>
            </div>
            <div class="right">
                <input type="date" id="date-start"> ~ <input type="date"
                                                             id="date-end">
            </div>
        </div>
            <input type="hidden" id="page" name="page" value="1"> <!--page 값 넘기기-->
            <h1 class="visual-title">발주 리스트</h1>
            <div id="purchaseOrderListForm">
                <table>
                    <colgroup>
                    	<col width="11%">
                        <col width="11%">
                        <col width="10%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="12%">
                        <col width="13%">
                        <col width="10%">
                    </colgroup>
                    <tr>
                   		<th>발주번호</th>
                        <th>품목코드</th>
                        <th>품명</th>
                        <th>발주일자</th>
                        <th>납기일자</th>
                        <th>발주수량</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>검수현황</th>
                    </tr>
 
                   <tr th:each="contract : ${contracts}" onchange="calculateSupplyAmount(this)">
						<td class="orderNo" th:text="${contract.orders.size() > 0 ? contract.orders[0].orderNo : '-'}">발주번호</td>
						<td th:text="${contract.item.itemCode}">품목코드</td>
						<td th:text="${contract.item.itemName}">품목명</td>
						<td th:text="${contract.orders.size() > 0 ? contract.orders[0].orderDate : '-'}">발주일</td>
						<td th:text="${contract.lead_time}">납기일</td>
						<td th:text="${contract.orders.size() > 0 ? contract.orders[0].orderQuantity : '-'}">발주수량</td>
						<td th:text="${contract.unit_price}">단가</td>
						<td></td> <!-- 공급가액 -->
                        <td th:if="${contract.orders.size() > 0 && contract.orders[0].receiptYn == 'Y'}">
							<button id="detailBtn" class="blueBtn">발행전</button>
						</td>
						<td th:unless="${contract.orders.size() > 0 && contract.orders[0].receiptYn == 'Y'}">
							<button id="addBtn" class="blueBtn">발주필요</button>
						</td>
					</tr>
                </table>
            </div>
    </div>
</div>

<script th:inline="javascript">

    function calculateSupplyAmount(row) {
        var orderQuantity = parseInt(row.querySelector('.orderQuantity').innerText.trim());
        var unitPrice = parseInt(row.querySelector('.unit_price').innerText.trim());
        var supplyAmount = orderQuantity * unitPrice;
        row.querySelector('.supplyAmount').innerText = supplyAmount;
    }


    // 페이지가 로드될 때 공급가액을 계산하여 표시합니다.
    window.onload = function() {
        document.querySelector('#purchaseOrderListForm table').innerHTML = calculateSupplyPrice();
    };
</script>
</body>
</html>
