<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<link type="text/css" rel="stylesheet" href="../css/common/header.css">
<link type="text/css" rel="stylesheet" href="../css/common/common.css">
<link type="text/css" rel="stylesheet" href="../css/common/sidebar.css">
<link type="text/css" rel="stylesheet" href="../css/orders/purchase_schedule.css">
<script type="text/javascript" src="../js/sidebar.js"></script>
</head>
<body>
   <div th:insert="~{common/sidebar :: sidebar}"></div>
   <div th:insert="~{common/header :: header}"></div>
   <div class="main-content">
      <div id="row1">
         <div id="toptb">
            <h1 class="visual-title">진척검수</h1>
            <table class="table" id="mainTable">
               <colgroup>
               </colgroup>
               <thead>
                  <tr>
                     <th>발주번호</th>
                     <th>발주일</th>
                     <th>입고예정일</th>
                     <th>품목코드</th>
                     <th>품명</th>
                     <th>발주수량</th>
                  </tr>
                  <tr>
                  	<td id="orderNoCell">발주번호</td>
                    <td id="orderDateCell">발주일</td>
                    <td id="LTDateCell">입고예정일</td>
                    <td id="itemCodeCell">품목코드</td>
                    <td id="itemNameCell">품명</td>
                    <td id="orderQuantityCell">발주수량</td>
                  </tr> 
               </thead>
               <tbody>
                 
               </tbody>
            </table>
            <table class="inspecPlanList table" id="createtb">
               <thead>
                  <tr>
                     <th>차수</th>
                     <th>검수예정일</th>
                     <th>검수일</th>
                     <th>발주량</th>
                     <th>생산량</th>
                     <th>진행률</th>
                     <th>비고</th>
                     <th>진행</th>
                  </tr>
               </thead>
               <tbody>
               <tr th:each="inspectionList : ${inspectionLsit}">
                		<td th:text="${inspectionList.inspection.inspecNo}">일정번호</td>
			            <td th:text="${inspectionList.size() > 0 ? inspectionList[0].times : '-'}">차수</td>
			            <td th:text="${inspectionList.inspection.inspecPlan}">예정일</td>
			            <td th:text="${inspectionList.size() > 0 ? inspectionList[0].inspecDate : '-'}">검수일</td>
			            <td th:text="${inspectionList.insepction.orders.orderQuantity}">발주량</td>
			            <td th:text="${inspectionList.inspection.quantity}">생산량</td>
			            <td>진행률</td>
			            <td th:text="${inspectionList.size() > 0 ? inspectionList[0].inspecNote : '-'}">비고</td>
			            <td><button type="button" class="blueBtn">진행</button></td>
	    	  	  </tr>
               </tbody>
            </table>
            <h2 class="visual-title">진척검수 일정 등록</h2>
            <table class="inspecPlanRegi listTable">
               <tr>
                  <th>차수</th>
                  <th>검수예정일</th>
                  <th>생산량</th>
                  <th>등록 취소</th>
               </tr>
               <tr>
                  <td><input type="text" id="times" readonly disabled></td>
                  <td><input type="date" id="duedate"></td>
                  <td><input type="text" id="quantity"></td>
                  <td>
                     <button type="button" id="addBtn" class="blueBtn">등록</button>
                  </td>
               </tr>
            </table>
         </div>
      </div>
      <div id="row2">
         <h2 class="visual-title">검수 예정 품목</h2>
         <table class="listTable">
            <colgroup>
            <col width="12%">
            <col width="15%">
            <col width="15%">
            <col width="15%">
            <col width="13%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            </colgroup>
            <thead>
               <tr>
                  <th>발주번호</th>
                  <th>발주일</th>
                  <th>입고예정일</th>
                  <th>품목코드</th>
                  <th>품명</th>
                  <th>발주수량</th>
                  <th>검수현황</th>
                  <th>검수</th>
               </tr>
               <tr th:each="contract : ${contracts}" th:if="${contract.orders.size() > 0 && contract.orders[0].receiptYn == 'Y'}">
                  <td th:text="${contract.orders.size() > 0 ? contract.orders[0].orderNo : '-'}">발주번호</td>
                  <td th:text="${contract.orders.size() > 0 ? contract.orders[0].orderDate : '-'}">발주일</td>
                  <td th:text="${contract.lead_time}">납기일</td>
                  <td th:text="${contract.item.itemCode}">품목코드</td>
                  <td th:text="${contract.item.itemName}">품목명</td>
                  <td th:text="${contract.orders.size() > 0 ? contract.orders[0].orderQuantity : '-'}">N/A</td>
                  <td></td>
                  <td><input type="button" value="검수" class="blueBtn" onclick="addToMainTable(this)"></td>
               </tr>
            </thead>
         </table>
      </div>
   </div>
   
<script>
    
    document.querySelector("#addBtn").addEventListener("click", function() {
        var orderNo = document.getElementById("orderNoCell").innerText;
        var inspecPlan = document.getElementById("duedate").value;
        var quantity = document.getElementById("quantity").value;
        
        // 데이터가 비어있는지 확인
        if (!orderNo || !inspecPlan || !quantity) {
            alert("빈칸을 모두 입력해주세요."); // 데이터가 입력되지 않은 경우 알림 창 띄우기
            return; // 함수 종료
        }
        var data = new URLSearchParams();
        data.append("orderNo", orderNo);
        data.append("inspecPlan", inspecPlan);
        data.append("quantity", quantity);

        fetch('/api/inspections/create', {
            method: 'POST',
            body: data
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert("검수일정이 등록되었습니다.");
        })
        .catch((error) => {
            console.error('Error:', error);
            alert("등록에 실패했습니다. 다시 시도해주세요.");
        });
    });
    </script>
    
    <script>
    
    function addToMainTable(button) {
        var row = button.closest("tr");
        var cells = row.cells;

        var 발주번호 = cells[0].innerText;
        var 발주일 = cells[1].innerText;
        var 입고예정일 = cells[2].innerText;
        var 품목코드 = cells[3].innerText;
        var 품명 = cells[4].innerText;
        var 발주수량 = cells[5].innerText;

        // 상단 테이블의 셀에 값을 설정
        document.getElementById("orderNoCell").innerText = 발주번호;
        document.getElementById("orderDateCell").innerText = 발주일;
        document.getElementById("LTDateCell").innerText = 입고예정일;
        document.getElementById("itemCodeCell").innerText = 품목코드;
        document.getElementById("itemNameCell").innerText = 품명;
        document.getElementById("orderQuantityCell").innerText = 발주수량;
    }
    
</script>

 </body>
 </html>