<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/common/header.css">
<link type="text/css" rel="stylesheet" href="/css/common/common.css">
<link type="text/css" rel="stylesheet" href="/css/common/sidebar.css">
  <link type="text/css" rel="stylesheet" href="../css/orders/orderTracking.css">
  <script type="text/javascript" src="../js/sidebar.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div th:insert="~{/common/sidebar :: sidebar}"></div>
			<div th:insert="~{/common/header :: header}"></div>
	
	<div class="main-content">
		<div id="row1">
		<h1 class="visual-title">발주 진행 현황 리포트</h1>
		<div class="content-card">
		<div id="container1" style="height: 700px; width: 70%;"></div>
	    <div class="card-wrap">
	    <form id="searchForm">

			<!-- 날짜 선택 영역 -->
			<div class="search-bar">
				<label for="startDate"></label> <input type="date" id="startDate">
				<label for="endDate">~</label> <input type="date" id="endDate" disabled>
				<button type="button" class="blueBtn" id="searchBtn">검색</button>
			</div>
		</form>
	      <div class="col1">
	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">계약 진행</p>
	            <h2 class="card-content conttext" th:text="${arr[0]}" ></h2>
	            <input type="hidden" th:value="${arr[0]}" class="contract"> 
	          </div>
	         </div>
	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">발주서발행</p>
	            <h2 class="card-content ordertext" th:text="${arr[1]}"></h2>
	             <input type="hidden" th:value="${arr[1]}" class="order"> 
	          </div>
	        </div>
      	    <div class="card">
	          <div class="card-body">
	            <p class="card-title">진척검수 완료</p>
	            <h2 class="card-content insptext" th:text="${arr[2]}"></h2>
	            <input type="hidden" th:value="${arr[2]}" class="inspect"> 
	          </div>
	        </div>
   	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">거래명세서 발행</p>
	            <h2 class="card-content invtext" th:text="${arr[3]}"></h2>
	             <input type="hidden" th:value="${arr[3]}" class="invoice"> 
	          </div>
	        </div>
	      </div>
	    </div>
		</div>
		</div>
</div>
	  



 <!--  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // 각 막대에 대해 높이를 지정하는 값을 변경
      var bars = document.querySelectorAll(".bar");
      var gap = 100; // 막대 간격
      var width = 20; // 막대 너비
      var start
      bars.forEach(function(bar, index) {
        var leftValue = index * (gap + width) + 30; // 좌표 계산
        bar.style.left = leftValue + "px"; // 각 막대에 좌표를 지정

        var height = Math.random() * 90; // 0부터 100까지 무작위 높이 생성
        bar.style.height = height + "%"; // 각 막대에 높이를 지정
      });
    });
  </script> -->
<script th:inline="javascript">
      var dom = document.getElementById('container1');
      var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
      });

      
      
/*       var contract = document.querySelector(".contract").value;
	  var order = document.querySelector(".order").value;
	  var invoice = document.querySelector(".invoice").value; */
	
	  function update(contract,order,inspect,invoice){
	      option = {
	          xAxis: {
	              type: 'category',
	              data: ['계약진행', '발주서 발행', '진척 검수', '거래명세서 발행']
	          },
	          yAxis: {
	              type: 'value'
	          },
	          series: [
	              {
	                  data: [contract, order, inspect, invoice],
	                  type: 'bar',
	                  showBackground: true,
	                  backgroundStyle: {
	                      color: 'rgba(180, 180, 180, 0.2)'
	                  }
	              }
	          ]
	      };
	
	      if (option && typeof option === 'object') {
	          myChart.setOption(option);
	      }
	
	      window.addEventListener('resize', myChart.resize);
	  }
      
  //검색 기능!
  $(document).ready(function() {
	  var contract = document.querySelector(".contract").value;
	  var order = document.querySelector(".order").value;
	  var invoice = document.querySelector(".invoice").value; 
	  var inspect = document.querySelector(".inspect").value; 
		
	  update(contract,order,inspect,invoice);
	  
      $('#searchBtn').click(function() {
          var startDate = $('#startDate').val();
          var endDate = $('#endDate').val();
          
          if(startDate > endDate){
        	  alert("날짜를 확인하세요.");
        	  return;
          }
          $.ajax({
              type: "GET",
              url: "/seach", // Replace with your actual endpoint URL
              data: {
                  startDate: startDate,
                  endDate: endDate
              },
              success: function(data) {
            	  $('.conttext').text(data[0]); // 'contract' 클래스를 가진 엘리먼트의 텍스트를 갱신
            	  $('.contract').val(data[0]);
                  $('.ordertext').text(data[1]);
                  $('.orderCount').val(data[1]);
                  $('.insptext').text(data[2]);
                  $('.inspect').val(data[2]);
                  
                  $('.invtext').text(data[3]);
                  $('.invoice').val(data[3]);
                  update(data[0],data[1],date[2],data[3]);
              },
              error: function(xhr, status, error) {
                  console.error(xhr.responseText);
              }
          });
      });
  });
  
  
  // 시작 날짜가 변경될 때 종료 날짜의 최소값을 설정하고 활성화
  $('#startDate').change(function() {
      var startDate = $(this).val();
      $('#endDate').attr('min', startDate);
      $('#endDate').prop('disabled', false);
  });
  </script>
</body>
</html>