<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<link type="text/css" rel="stylesheet" href="../css/common/header.css">
<link type="text/css" rel="stylesheet" href="../css/common/common.css">
<link type="text/css" rel="stylesheet" href="../css/common/sidebar.css">
<link type="text/css" rel="stylesheet"
	href="../css/orders/purchase_schedule.css">
<script type="text/javascript" src="../js/sidebar.js"></script>
<script type="text/javascript" src="../js/Inspection.js"></script>


</head>
<body>
	<div th:insert="~{/common/sidebar :: sidebar}"></div>
	<div th:insert="~{/common/header :: header}"></div>
	<div class="main-content">
		<div id="row1">
			<form th:action="@{/saveInspection}" method="POST"
				enctype="multipart/form-data">
				<div id="toptb">
					<h1 class="visual-title">진척검수</h1>
					<table class="table" id="mainTable">
						<colgroup>
							<col width="15%">
							<col width="20%">
							<col width="20%">
							<col width="15%">
							<col width="15%">
							<col width="15%">
						</colgroup>
						<thead>
							<tr>
								<th>발주번호</th>
								<th>발주일</th>
								<th>입고예정일</th>
								<th>품목코드</th>
								<th>품명</th>
								<th>발주수량</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<table class="inspecPlanList table" id="createtb">
						<colgroup>
					
							<col width="8%">
							<col width="15%">
							<col width="15%">
							<col width="10%">
							<col width="10%">
							<col width="10%">
							<col width="8%">
						</colgroup>
						<thead>
							<tr>
								<th style="display:none;">일정번호</th>
								<th>차수</th>
								<th>검수예정일</th>
								<th>검수일</th>
								<th>발주량</th>
								<th>생산량</th>
								<th>진행률</th>
								<!-- <th>비고</th> -->
								<th>진행</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</form>
			<h2 class="visual-title">진척검수 일정 등록</h2>
			<form>
				<table class="inspecPlanRegi listTable">
					<colgroup>
						<col width="10%">
						<col width="40%">
						<col width="35%">
						<col width="15%">
					</colgroup>
					<tr>
						<th>차수</th>
						<th>검수예정일</th>
						<th>생산량</th>
						<th>등록/취소</th>
					</tr>
					<tr>
						<td><input type="number" id="times" name="times"></td>
						<td><input type="date" id="duedate" name="duedate"></td>
						<td><input type="text" id="quantity" name="quantity"></td>
						<td>
							<button type="button" class="addBtn blueBtn"
								onclick="registerInspectionss()">등록</button>
							<button type="reset" class="blueBtn">취소</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div id="row2">
			<h2 class="visual-title">검수 품목</h2>
			<table class="listTable">
				<colgroup>
					<col width="12%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="13%">
					<col width="10%">
					<col width="10%">
					<col width="10%">
				</colgroup>
				<thead>
					<tr>
						<th>발주번호</th>
						<th>발주일</th>
						<th>납기일</th>
						<th>품목코드</th>
						<th>품명</th>
						<th>발주수량</th>
						<th>검수현황</th>
						<th>검수</th>
					</tr>
					<tr th:each="contract : ${contracts}"
						th:if="${contract.orders.size() > 0 && contract.orders[0].receiptYn == 'Y'}">
						<td
							th:text="${contract.orders.size() > 0 ? contract.orders[0].orderNo : '-'}">발주번호</td>
						<td
							th:text="${contract.orders.size() > 0 ? contract.orders[0].orderDate : '-'}">발주일</td>
						<td th:text="${contract.lead_time}">납기일</td>
						<td th:text="${contract.item.itemCode}">품목코드</td>
						<td th:text="${contract.item.itemName}">품목명</td>
						<td
							th:text="${contract.orders.size() > 0 ? contract.orders[0].orderQuantity : '-'}">발주수량</td>
						<td th:text="${contract.orders[0].inspectionTime}">검수현황</td>
						
						<td th:switch="${contract.orders[0].inspectYNG}">
							<span th:case="'N'"><input type="button" class="blueBtn" value="검수하기" onclick="addToMainTable(this)"></span> 
							<span th:case="'G'"> <input type="button" class="blueBtn disabledBtn" value="마감하기" onclick="addToMainTable(this); endInspection(this)"></span>
							<span th:case="'Y'"> <input type="button" class="blueBtn " value="마감완료"  onclick="addToMainTable(this)"></span>
							</td>
						
						

					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>

</html>
