body {
	background-color: #f1f1f1;
}

.btn-container {
	float: right;
	margin-right:90px;
}
.search-container {
	float: right;
	margin: 0 90px 30px;
}
#row1 {
/*  border: solid 1px #999; */
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
 background-color: white;
 border-radius: 5px;
 padding: 20px;
 margin: 10px 40px;
 overflow: hidden; 
}

#t3 tr:not(:first-child):hover {
   background-color : #e3e4e2;
}

.visual-title {
  margin-bottom: 15px;
  border-left: 3px solid black;
  padding-left: 10px;
}


.regi-table { 
  width:90%;
  border-radius: 5px;
  margin:20px auto;
}


#row2 {
/*   border: solid 1px #999; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 40px;
}

/* 도면 모달 */
#popupBtn {
  width: 150px;
  height: 50px;
  padding: 10px 5px;
  background-color: #c8e3ff;
  color: black;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
#modalWrap {
  position: fixed; /* 화면에 고정 */
  z-index: 9999; /* 상위에 위치 */
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
  display: none; /* 초기에는 숨김 */
}
#modalBody {
  max-width: 70%; /* 최대 너비 */
  max-height: 80%; /* 최대 높이 */
  padding: 30px 30px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  border: 1px solid #777;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#modalBody img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #fff;
  background: #0056b3;
  border: none;
  border-radius: 15px;
  padding: 0 10px ;
  cursor: pointer;
}

.modalBtn {
  margin-left : 10px;
  width: 80px;
}

.modalBtn1 {
  margin: 5px auto;
  float: center;
}



/* 계약서  */
#modalWrap body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

#modalWrap .contractBody {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

#modalWrap .contractBody h2 {
    text-align: center;
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.contractBody h4 {
    font-size: 18px;
    color: #34495e;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contractBody p {
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
    color: #555;
    margin-bottom: 5px;
}

#modalWrap .contractBody table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

#modalWrap .contractBody table, .contractBody th, .contractBody td {
    border: 1px solid #ddd;
}

#modalWrap .contractBody th, .contractBody td {
    padding: 10px;
    text-align: left;
}

#modalWrap .contractBody th {
    background-color: #2c3e50;
    color: #fff;
    font-weight: bold;
}

#modalWrap .contractBody td {
    background-color: #ecf0f1;
}
