<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>기간별 재고목록</title>
<link type="text/css" rel="stylesheet" href="../css/common/header.css">
<link type="text/css" rel="stylesheet" href="../css/common/common.css">
<link type="text/css" rel="stylesheet" href="../css/common/sidebar.css">
<link type="text/css" rel="stylesheet" href="../css/invoice.css">
  <script type="text/javascript" src="../js/sidebar.js"></script>
</head>
<body>
	<div th:insert="~{common/sidebar  :: sidebar}"></div>
	<div class="main-content">
		<div th:insert="~{common/header :: header}"></div>
		<div id="row1">
			<h1 class="visual-title">기간별 재고목록</h1>
			<div class="search-container">
				<form id="searchForm"
					onsubmit="event.preventDefault(); performSearch();">
					<!-- 검색 옵션과 필드 -->
					<div class="search-bar">
						<select id="filterSelect">
							<option value="itemCode">품목코드</option>
							<option value="itemName">품목명</option>
						</select> <input type="text" id="searchInput" placeholder="검색...">
						<button type="button" onclick="performSearch()" class="blueBtn">검색</button>
					</div>
				</form>
				<!-- 결과 표시 테이블 -->
				<table id="resultsTable">
					<thead>
						<tr>
							<th>품목코드
								<button class="sort-button" onclick="sortTable(0)">▲▼</button>
							</th>
							<th>품목명
								<button class="sort-button" onclick="sortTable(1)">▲▼</button>
							</th>
							<th>규격
								<button class="sort-button" onclick="sortTable(2)">▲▼</button>
							</th>
							<th>재질
								<button class="sort-button" onclick="sortTable(3)">▲▼</button>
							</th>
							<th>기초재고
								<button class="sort-button" onclick="sortTable(4)">▲▼</button>
							</th>
							<th>입고수량
								<button class="sort-button" onclick="sortTable(5)">▲▼</button>
							</th>
							<th>출고수량
								<button class="sort-button" onclick="sortTable(6)">▲▼</button>
							</th>
							<th>기말재고
								<button class="sort-button" onclick="sortTable(7)">▲▼</button>
							</th>
							<th>재고금액
								<button class="sort-button" onclick="sortTable(8)">▲▼</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<!-- 동적 결과 -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</body>
</html>