<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>기간별 재고목록</title>
<link type="text/css" rel="stylesheet" href="../css/common/header.css">
<link type="text/css" rel="stylesheet" href="../css/common/common.css">
<link type="text/css" rel="stylesheet" href="../css/common/sidebar.css">
<link type="text/css" rel="stylesheet" href="../css/materials/inventoryPeriod.css">
  <script type="text/javascript" src="../js/sidebar.js"></script>
</head>
<body>
	<div th:insert="~{/common/sidebar  :: sidebar}"></div>
			<div th:insert="~{/common/header :: header}"></div>
	<div class="main-content">

		<div id="row1">  
			<h1 class="visual-title">기간별 재고목록</h1>
			<div class="search-container">
				<form id="searchForm" th:action="@{/inventory_period}" method="get">
					<div class="search-bar">
						<label for="startDate"></label> 
						<input type="date" id="startDate" name="startDate" required>
						<label for="endDate"> ~ </label> <input type="date" id="endDate" name="endDate" required>
						<button type="submit" class="blueBtn">검색</button>
					</div>
				</form>
				<table id="resultsTable">
					<thead>
						<tr>
							<th>품목코드</th>
							<th>품목명</th>
							<th>기초재고</th>
							<th>입고수량</th>
							<th>출고수량</th>
							<th>기말재고</th>
							<th>재고금액</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="inventoryPeriod : ${inventoryPeriods}">
							<td th:text="${inventoryPeriod.inventoryCode}"></td>
							<td th:text="${inventoryPeriod.inventoryName}"></td>
							<td
								th:text="${inventoryPeriod.initialInventory != null ? inventoryPeriod.initialInventory : 0}"></td>
							<!-- 기초재고 -->
							<td
								th:text="${inventoryPeriod.totalReceivingQuantity != null ? inventoryPeriod.totalReceivingQuantity : 0}"></td>
							<td
								th:text="${inventoryPeriod.totalShipmentQuantity != null ? inventoryPeriod.totalShipmentQuantity : 0}"></td>
							<td
								th:text="${inventoryPeriod.finalInventory != null ? inventoryPeriod.finalInventory : 0}"></td>
							<!-- 기말재고 -->
							<td
								th:text="${inventoryPeriod.finalInventoryValue != null ? inventoryPeriod.finalInventoryValue : 0}"></td>
							<!-- 기말재고금액 -->
						</tr>
					</tbody>
				</table>
				<!-- 페이징 컨트롤 추가 -->
                <div class="paging-wrap">
                    <ul class="pagination" th:if="${totalPages > 1}">
                        <!-- 처음 페이지로 이동 -->
                        <li th:if="${currentPage >= 10}">
                            <a th:href="@{/inventory_period(page=${0}, size=${pageSize}, startDate=${startDate}, endDate=${endDate})}">&laquo;</a>
                        </li>
                        <!-- 이전 페이지 링크 -->
                        <li th:if="${currentPage > 0}">
                            <a th:href="@{/inventory_period(page=${currentPage - 1}, size=${pageSize}, startDate=${startDate}, endDate=${endDate})}">&lt;</a>
                        </li>
                        <!-- 페이지 번호 링크 -->
                        <th:block th:with="startPage=${(currentPage div 10) * 10}, endPage=${(startPage + 9) < totalPages ? (startPage + 9) : totalPages - 1}">
                            <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                                <a th:href="@{/inventory_period(page=${i}, size=${pageSize}, startDate=${startDate}, endDate=${endDate})}"
                                   th:classappend="${i == currentPage} ? 'active'"
                                   th:text="${i + 1}">Page number</a>
                            </li>
                        </th:block>
                        <!-- 다음 페이지 링크 -->
                        <li th:if="${currentPage < totalPages - 1}">
                            <a th:href="@{/inventory_period(page=${currentPage + 1}, size=${pageSize}, startDate=${startDate}, endDate=${endDate})}">&gt;</a>
                        </li>
                        <!-- 10 페이지 앞으로 이동 -->
                        <li th:if="${(currentPage div 10) < ((totalPages - 1) div 10)}">
                            <a th:href="@{/inventory_period(page=${(currentPage div 10 + 1) * 10}, size=${pageSize}, startDate=${startDate}, endDate=${endDate})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	function performSearch() {
		const startDate = document.getElementById('startDate').value;
		const endDate = document.getElementById('endDate').value;
		const searchInput = document.getElementById('searchInput').value;
		const filterSelect = document.getElementById('filterSelect').value;

		const url = `/inventory_period?startDate=${startDate}&endDate=${endDate}`;
		window.location.href = url;
	}
</script>
</html>