<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>거래명세서 조회</title>
<link type="text/css" rel="stylesheet" href="../css/common/header.css">
<link type="text/css" rel="stylesheet" href="../css/common/common.css">
<link type="text/css" rel="stylesheet" href="../css/common/sidebar.css">
<link type="text/css" rel="stylesheet" href="../css/invoice.css">
  <script type="text/javascript" src="../js/sidebar.js"></script>
</head>
<body>
	<div th:insert="~{common/sidebar :: sidebar}"></div>
	<div class="main-content">
		<div th:insert="~{common/header :: header}"></div>
		<div id="row1">
			<h2 class="visual-title">거래명세서</h2>
			<div class="search-container">
				<form id="searchForm"
					onsubmit="event.preventDefault(); performSearch();">
					<!-- 날짜 선택 영역 -->
					<div class="date-range">
						<label for="startDate"></label> <input type="date" id="startDate">
						<label for="endDate">~</label> <input type="date" id="endDate">
					</div>
					<!-- 검색 옵션과 필드 -->
					<div class="search-bar">
						<select id="filterSelect">
							<option value="itemCode">품목코드</option>
							<option value="itemName">품목명</option>
							<option value="ProcurementNum">발주번호</option>
							<option value="OrderDate">발주일</option>
							<option value="CompanyName">업체명</option>
						</select> <input type="text" id="searchInput" placeholder="검색...">
						<button type="button" onclick="performSearch" class="blueBtn">검색</button>
					</div>
				</form>
				<!-- 결과 표시 테이블 -->
				<table id="resultsTable" class="table">
					<colgroup>
						<col width="10%">
						<col width="15%">
						<col width="15%">
						<col width="15%">
						<col width="10%">
						<col width="15%">
						<col width="15%">
						<col width="5%">
					</colgroup>
					<thead>
						<tr>
							<th>발주번호</th>
							<th>업체명</th>
							<th>품목코드</th>
							<th>품목명</th>
							<th>발주량</th>
							<th>발주일</th>
							<th>입고처리일</th>
							<th>처리</th>
						</tr>
					</thead>
					<tbody>
					 <th:block  th:each = "receiving : ${receivings}">
						<tr>
							<td th:text="${receiving.orders.orderNo}">
							<td th:text="${receiving.orders.company.company_name}">
							<td th:text="${receiving.orders.item.itemCode}">
							<td th:text="${receiving.orders.item.itemName}">
							<td th:text="${receiving.orders.orderQuantity}">
							<td th:text="${receiving.orders.orderDate}">
							<td th:text="${receiving.receiveDate}">
							<td><input type="button" value="발행" class="popupBtn blueBtn publish"></td>
						</tr>
					 </th:block>
					</tbody>
				</table>
				</div>
			</div>
		</div>
		
		
	<div id="modalWrap">
	    <div id="modalBody">
		<table class="table" id="1">
					<colgroup>
						<col width="1%">
						<col width="15%">
						<col width="10%">
						<col width="1%">
						<col width="10%">
						<col width="15%">
					</colgroup>
					<tbody>
					<tr><th colspan="7">거래명세서</th></tr>
					 	<tr>
					 	   <th rowspan="7">공<br>급<br>받<br>는<br>자</th>
					 	</tr>
						<tr>
							<th>발주번호</th>
							<td ><input type="text" name="orderNo" readonly></td>
							<th rowspan="6">공<br><br>급<br><br>자</th>
							<th>사업자등록번호</th>
							<td ><input type="text" name="brn" readonly> </td>
						</tr>
						<tr>
							<th>상호</th>
							<td><input type="text" value="(주) SOFT-SYNC" readonly></td>
							<th>상호</th>
							<td><input type="text" name="company_name" readonly></td>
						</tr>
						<tr>
							<th>연락처</th>
							<td><input type="text" value="031-5555-5555" readonly></td>
							<th>대표자</th>
							<td><input type="text" name="company_ceo" readonly></td>
						</tr>
						<tr>
							<th>공급일</th>
							<td ><input type="text" name="publishDate" readonly></td>
							<th>주소</th>
							<td><input type="text" name="company_address" readonly></td>
						</tr>
						<tr>
							<th>지불조건</th>
							<td ><input type="text" value="대금지불 약관" readonly></td>
							<th>담당자</th>
							<td><input type="text" name="manager" readonly></td>
						</tr>
						<tr>
							<th>합계 금액</th>
							<td><input type="text" name="total_price" readonly></td>
							<th>연락처</th>
							<td><input type="text" name="manager_tel" readonly></td>
						</tr>
					</tbody>
				</table>
				<table class="table1">
					<colgroup>
						<col width="3%">
						<col width="3%">
						<col width="15%">
						<col width="15%">
						<col width="8%">
						<col width="8%">
						<col width="8%">
						<col width="10%">
						<col width="15%">
						
					</colgroup>
					<tr>
		                <th>월</th>
		                <th>일</th>
		                <th>품목</th>
		                <th>규격</th>
		                <th>수량</th>
		                <th>단가</th>
		                <th>공급가액</th>
		                <th>세액</th>
		                <th>비고</th>
           		   </tr>
           		   <tr class="small">
           		   	<td><input type="text" name="month" readonly></td>
           		   	<td><input type="text" name="day" readonly></td>
           		   	<td><input type="text" name="itemName" readonly></td>
           		   	<td><input type="text" name="dimensions" readonly></td>
           		   	<td><input type="text" name="quantity" readonly></td>
           		   	<td><input type="text" name="price" readonly></td>
           		   	<td><input type="text" name="supply_price" readonly></td>
           		   	<td><input type="text" name="tax" readonly></td>
           		   	<td><input type="text" name="text"></td>
           		   </tr>
				</table>
				
			<div>
				<button type="submit" class="blueBtn">명세서 전송</button>
				<button type="reset" class="blueBtn" id="printBtn">인쇄</button>
			</div>
    </div>
</div>
	
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
	$(".publish").click(function(){
		var orderNo = $(this).closest("tr").find("td:first").text();
		
		$.ajax({
			url : "/getReceive",
		    type : "POST",
		    contentType : "application/json",
		    data: JSON.stringify({ orderNo : orderNo}),
		    success: function(data){
		    	 $("#modalWrap input[name='orderNo']").val(data.receiveNumber);  //입고번호
		    	 $("#modalWrap input[name='publishDate']").val(data.receiveDate); //입고마감일
		    	 // 현재 날짜 가져오기
	    		    var today = new Date();
	    		    
	    		    // 날짜를 YYYY-MM-DD 형식으로 변환
	    		    var yyyy = today.getFullYear();
	    		    var mm = String(today.getMonth() + 1).padStart(2, '0'); // 0부터 시작하므로 1을 더하고, 두 자리로 만듭니다.
	    		    var dd = String(today.getDate()).padStart(2, '0');
	    		    
	    		    // 년월일 형식으로 조합
	    		    var publishDate = yyyy + '년 ' + mm + '월 ' + dd + '일';
		    	   
		    	 var quantity = data.receiveQuantity; //입고량
		    	 var price = data.orders.contract.unit_price; // 단가
		    	 var supply_price = quantity * price; // 공급가
		    	 var tax = supply_price * 0.1;//세액
		    	 var total_price = supply_price + tax; //합계금액
		    		 $("#modalWrap input[name='brn']").val(data.orders.company.brn);
		    		 $("#modalWrap input[name='company_name']").val(data.orders.company.company_name);
		    		 $("#modalWrap input[name='company_ceo']").val(data.orders.company.company_ceo);
		    		 $("#modalWrap input[name='company_address']").val(data.orders.company.company_address );
		    		 $("#modalWrap input[name='manager']").val(data.orders.company.manager );
		    		 $("#modalWrap input[name='manager_tel']").val(data.orders.company.manager_tel );
		    		 $("#modalWrap input[name='total_price']").val(total_price.toLocaleString());
		    		 
		    		 
		    		 $("#modalWrap input[name='month']").val(mm);
		    		 $("#modalWrap input[name='day']").val(dd);
		    		 $("#modalWrap input[name='itemName']").val(data.orders.item.itemName );
		    		 $("#modalWrap input[name='dimensions']").val(data.orders.item.dimensions);
		    		 $("#modalWrap input[name='quantity']").val(quantity);
		    		 $("#modalWrap input[name='price']").val(price.toLocaleString());
		    		 $("#modalWrap input[name='supply_price']").val(supply_price.toLocaleString());
		    		 $("#modalWrap input[name='tax']").val(tax.toLocaleString());
		
		    		 
		    		
		    		 $("#modalWrap input[name='publishDate']").val(publishDate);
		    	 
		    },
            error: function(xhr, status, error) {
                alert("서버에서 주문 정보를 가져오는 동안 오류가 발생했습니다.");
                console.error(error);
            }
		});
	});
});

//인쇄 및 저장
document.getElementById('printBtn').addEventListener('click', function() {
    // 모달에 표시된 이미지를 가져옴
    var modalImage = document.getElementById('modalImage');
    // 새로운 창을 열어서 이미지를 표시하고 인쇄
    var printWindow = window.open('', '_blank');
    printWindow.document.write('<html><head><title>Print</title></head><body>');
    printWindow.document.write('<img src="' + modalImage.src + '" style="width:100%; height:auto;">');
    printWindow.document.write('</body></html>');
    printWindow.document.close();

    // 이미지가 로드된 후에 인쇄 실행
    printWindow.onload = function() {
        printWindow.print();
        printWindow.close();
    };
});
</script>

<script th:inline="javascript">
document.querySelectorAll('.popupBtn').forEach(button => {
    button.addEventListener('click', function() {
        document.getElementById("modalWrap").style.display = 'block'; // 모달 열기
    });
});
</script>

</html>