<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link type="text/css" rel="stylesheet" href="../css/common/header.css">
  <link type="text/css" rel="stylesheet" href="../css/common/common.css">
  <link type="text/css" rel="stylesheet" href="../css/materials/receivings.css">
  <link type="text/css" rel="stylesheet" href="../css/common/sidebar.css">
    <script type="text/javascript" src="../js/sidebar.js"></script>
  <title>자재입고</title>
</head>
<body>
  <div th:insert="~{/common/sidebar :: sidebar}"></div>
  		<div th:insert="~{/common/header :: header}"></div>
	<div class="main-content">

		<div id="row2">
    <div id="planList">
      <h2 class="visual-title">입고예정품목</h2>
      
      	<div class="search-container">
			<form id="searchForm1" onsubmit="performSearch1(); return false;">
				<div class="search-bar">
					<select id="filterSelect1">
						<option value="itemCode">품목코드</option>
						<option value="itemName">품목명</option>
					</select>
					<input type="text" id="searchInput1" placeholder="검색어를 입력하세요">
					<button onclick="performSearch1()" class="blueBtn">검색</button>
				 </div>
			 </form>
	   </div>

      <table class="list-table" id="res">
        <colgroup>
          <col width="11%">
          <col width="11%">
          <col width="10%">
          <col width="7%">
          <col width="7%">
          <col width="7%">
          <col width="7%">
          <col width="7%">
          <col width="5%">
        </colgroup>
        <tr>
          <th> 품목코드</th>
          <th> 품목명</th>
          <th> 재질</th>
          <th> 입고수량</th>
          <th> 발주수량</th>
          <th> 발주일</th>
          <th> 납기일</th>
          <th> 입고마감일</th>
          <th> 현황</th>
        </tr>
        <th:block th:each="receiving : ${receivingsP}">
        <tr>
          <td>
            <input type="hidden" class="receiving-number" th:value="${receiving.receiveNumber}">
            <span th:text="${receiving.orders.contract.item.itemCode}"></span>
          </td>
          <td th:text="${receiving.orders.contract.item.itemName}"></td>
          <td th:text="${receiving.orders.contract.item.material}"></td>
          <td th:text="${receiving.receiveQuantity}"></td> 
          <td th:text="${receiving.orders.orderQuantity}"></td> <!-- 발주서.발주수량 가져오기 // 수정필요! -->
          <td th:text="${receiving.orders.orderDate}"></td>
          <td th:text="${receiving.orders.contract.lead_time}"></td>  <!-- 계약 : 납기일 -->
          <td th:text="${receiving.receiveDate}"></td>
          <td th:if="${receiving.receiveClosingYn} == 'Y'">
          	<input type="button" value="마감" class="blueBtn">
          </td>
          <td th:if="${receiving.receiveClosingYn} == 'N'">
   			  <input type="button" data-ono="${receiving.orders.orderNo}"  value="입고" class="blueBtn" th:onclick="receivingStrat(this)">
          </td>
        </tr>
        </th:block>
      </table>  
    </div>
    
    
           <!-- 상단(입고 내역) 페이징 -->
            <div class="paging-wrap">
                <ul class="pagination">
                    <!-- 이전 페이지 링크 -->
                    <li th:if="${receivingsP.hasPrevious()}">
                        <a th:href="@{/receivings(page1=${receivingsP.previousPageable().pageNumber}, page2=${page2})}">&lt;</a>
                    </li>

                    <!-- 페이지 번호 링크 -->
                    <th:block th:with="startPage=${receivingsP.number - 4 >= 0 ? receivingsP.number - 4 : 0},
                                       endPage=${receivingsP.number + 4 < receivingsP.totalPages ? receivingsP.number + 4 : receivingsP.totalPages - 1}">
                        <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                            <a th:href="@{/receivings(page1=${i}, page2=${page2})}" th:text="${i + 1}"
                               th:classappend="${receivingsP.number} == ${i} ? 'active' : ''">${i + 1}</a>
                        </li>
                    </th:block>

                    <!-- 다음 페이지 링크 -->
                    <li th:if="${receivingsP.hasNext()}">
                        <a th:href="@{/receivings(page1=${receivingsP.nextPageable().pageNumber}, page2=${page2})}">&gt;</a>
                    </li>
                </ul>
            </div>
  </div>
  
  
    <div id="row1">
    <form action="saveReceiving" method="post" onsubmit="return confirmReceiving()">
	      <h2 class="visual-title">자재입고</h2>
	       <div class="btn-container">
	        <button type="submit" class="blueBtn" id="save">저장</button>
	        <button type="button" class="blueBtn" id="end" onclick='return endRecieving(this.form)'>마감</button>
	      </div>
	       <table class="regi-table" id="receivingTable">
	        <colgroup>
	          <col width="20%">
	          <col width="25%">
	          <col width="20%">
	          <col width="20%">
	          <col width="10%">
	        </colgroup>
	        <tr>
	          <th> 품목코드</th>
	          <th> 품목명</th>
	          <th> 입고수량</th>
	          <th> 발주수량</th>
	          <th> 입고수량</th>
	        </tr>
			<tr>
			  <td></td>
			  <td></td>  <!--히든인풋으로 발주번호저장  -->
			  <td></td><!-- 기입고량 -->
			  <td></td> <!-- 발주량 -->
			  <td>
			    <input type="hidden" id="receiveNumber" name="receiveNumber"> <!-- 입고번호 -->
		
			    <input type="number" id="quantity" name="quantity" ><!-- 입고량 -->
			  </td>
			</tr>		
	      </table>  
      </form>
    </div>
    
    
     <div id="row2">
        <h2 class="visual-title">입고내역</h2>
        
		<div class="search-container">
			<form id="searchForm" onsubmit="performSearch(); return false;">
				<div class="search-bar">
					<select id="filterSelect">
						<option value="itemCode">품목코드</option>
						<option value="itemName">품목명</option>
					</select>
					<input type="text" id="searchInput" placeholder="검색어를 입력하세요">
					<button onclick="performSearch()" class="blueBtn">검색</button>
				 </div>
			 </form>
			
	       <table class="regi-table" id="receivingTable">
	        <colgroup>
	          <col width="18%">
	          <col width="18%">
	          <col width="18%">
	          <col width="18%">
	          <col width="18%">
	          <col width="18%">
	        </colgroup>
	        <tr>
	          <th> 발주번호</th>
	          <th> 품목코드</th>
	          <th> 품목명</th>
	          <th> 입고일</th>
	          <th> 발주수량</th>
	          <th> 입고수량</th>
	        </tr>
			<tr th:each="receiveList : ${receiveListsP.content}" >
			    <td th:text="${receiveList.receiving.orders.orderNo}"></td>
			    <td th:text="${receiveList.receiving.orders.contract.item.itemCode}"></td>
			    <td th:text="${receiveList.receiving.orders.contract.item.itemName}"></td>
			    <td th:text="${receiveList.sysdate}"></td>
			    <td th:text="${receiveList.receiving.orders.orderQuantity}"></td>
			    <td th:text="${receiveList.quantity}"></td>
			</tr>
	      </table>  
	      
	                 <!-- 하단(자재 입고) 페이징 -->
            <div class="paging-wrap">
                <ul class="pagination">
                    <!-- 이전 페이지 링크 -->
                    <li th:if="${receiveListsP.hasPrevious()}">
                        <a th:href="@{/receivings(page1=${page1}, page2=${receiveListsP.previousPageable().pageNumber})}">&lt;</a>
                    </li>

                    <!-- 페이지 번호 링크 -->
                    <th:block th:with="startPage=${receiveListsP.number - 4 >= 0 ? receiveListsP.number - 4 : 0},
                                       endPage=${receiveListsP.number + 4 < receiveListsP.totalPages ? receiveListsP.number + 4 : receiveListsP.totalPages - 1}">
                        <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                      <a th:href="@{/receivings(page1=${page1}, page2=${i})}" th:text="${i + 1}"
   th:classappend="${receiveListsP.number} == ${i} ? 'active' : ''">${i + 1}</a>
                        </li>
                    </th:block>

                    <!-- 다음 페이지 링크 -->
                    <li th:if="${receiveListsP.hasNext()}">
                        <a th:href="@{/receivings(page1=${page1}, page2=${receiveListsP.nextPageable().pageNumber})}">&gt;</a>
                    </li>
                </ul>
            </div>



	   </div> <!-- search-container -->
	 </div><!-- row2  -->
</div> <!-- main-content-->
	
	
	
  <script>
  
  //입고창으로 값 가져옴
  
  	function receivingStrat(button){
  		 
	  
  		var row = button.parentElement.parentElement;  //부모태그의 부모태그를 반환(td -> tr!)
  		var receivingNumber = row.querySelector('.receiving-number').value; //입고번호(pk)
        var itemCode = row.cells[0].children[1].innerText; //품목코드
        var itemName = row.cells[1].innerText; //품목네임
        var wQuantity = row.cells[3].innerText; //입고수량
        var orderedQuantity = row.cells[4].innerText; //발주수량
        
  
  		var receivingTable = document.getElementById("receivingTable"); //하단 테이블(자재입고) 찾음
	  	var firstRow = receivingTable.rows[1]; // 첫 번째 데이터 행을 참조
	  	
	      var receivingNumbers = row.getElementsByClassName('receiving-number');
	      var receiveNum  = receivingNumbers[0].value;
	  	  //입고번호 가져오려고 발악함 [0]셀
	  	  
	  	  if(orderedQuantity == wQuantity){
	  		  document.getElementById("save").style.display = "none";
	  		document.getElementById("end").style.display = "block";
	  	  }else{
	  		  document.getElementById("save").style.display = "block";
		  		document.getElementById("end").style.display = "none";
	  	  }
	  	  
	  	  console.log(receiveNum);
	  	  
	  	   firstRow.cells[0].innerHTML = '<input type="hidden" name="receivingNumber" value="' + receivingNumber + '">' + itemCode;
	      firstRow.cells[1].innerText =  itemName;
	      firstRow.cells[2].innerHTML = '<input type="hidden" name="wQuantity"  id="wQuantity" value="' + wQuantity + '">' + wQuantity;
	      firstRow.cells[3].innerHTML = '<input type="hidden" name="orderQuantity" id="orderQuantity" value="' + orderedQuantity + '">' + orderedQuantity;
	      firstRow.cells[4].innerHTML = '<input type="number" name="quantity" id="quantity" value="' + orderedQuantity + '">';
	      
	 }
   
  	function confirmReceiving() {
  		var Value1 = parseInt(document.getElementById("quantity").value);
  		var Value2 = parseInt(document.getElementById("orderQuantity").value);
  		var Value3 = parseInt(document.getElementById("wQuantity").value);
  		console.log(typeof inputValue1); // inputValue1 변수의 타입을 출력합니다.
  		console.log(typeof inputValue2); // inputValue2 변수의 타입을 출력합니다.
  		console.log(typeof inputValue3); // inputValue3 변수의 타입을 출력합니다.
  	    // 사용자에게 확인 메시지 표시
  	    
  	    //유요성 체크.. 
  	    if(Value2 == Value3){
  	    	alert('마감을 진행하세요.');
  	    	return false;
  	    }else if(Value2 >= Value1 + Value3 ){
  			var confirmed = confirm('저장 하시겠습니까?');
  			if(confirmed){
  				return true;
  			}else false;
  		}else if(Value2 < Value1 + Value3){
  			alert('입고량을 확인하세요.');

  			document.getElementById("quantity").focus();
  			document.getElementById("quantity").value = Value2 - Value3;
  			return false;
  		}  
  	    

  	    // 사용자가 확인을 선택했을 경우 true를 반환하여 폼이 제출되도록 함
  	    return confirmed;
  	}
  	
  	
	//마감처리
	function endRecieving(frm){
		var Value2 = parseInt(document.getElementById("orderQuantity").value);
  		var Value3 = parseInt(document.getElementById("wQuantity").value);
  	    
  	    
		if(Value2 == Value3){
			var confrmation = confirm("입고를 마감하시겠습니까?");
			
			if(confrmation){
				frm.action='endRecieving';
				frm.submit();
				return true;
			}else alert("취소하였습니다.");
		}else{
			alert("입고 완료 후 마감하세요");
			document.getElementById("quantity").focus();
			return false;
		}
		
	}
	     
	function performSearch1() {
	    // 검색 필터 선택 요소와 검색어 입력 요소를 가져옴
	    var filterSelect = document.getElementById('filterSelect1');
	    var searchInput = document.getElementById('searchInput1');
	    
	    // 검색 필터와 검색어 값을 가져옴
	    var filterValue = filterSelect.value;
	    var searchKeyword = searchInput1.value.trim();
	    
	    // 검색어가 비어있는지 확인
	    if (searchKeyword === "") {
	        alert("검색어를 입력하세요.");
	        return;
	    }
	    
	    // 검색 결과 페이지로 리디렉션
	    var formAction = '/receivings?page1=0&page2=0&searchField1=' + filterValue + '&searchKeyword1=' + encodeURIComponent(searchKeyword);
	    window.location.href = formAction;
	}

	function performSearch() {
	    // 검색 필터 선택 요소와 검색어 입력 요소를 가져옴
	    var filterSelect = document.getElementById('filterSelect');
	    var searchInput = document.getElementById('searchInput');
	    
	    // 검색 필터와 검색어 값을 가져옴
	    var filterValue = filterSelect.value;
	    var searchKeyword = searchInput.value.trim();
	    
	    // 검색어가 비어있는지 확인
	    if (searchKeyword === "") {
	        alert("검색어를 입력하세요.");
	        return;
	    }
	    
	    // 검색 결과 페이지로 리디렉션
	    var formAction = '/receivings?page1=0&page2=0&searchField=' + filterValue + '&searchKeyword=' + encodeURIComponent(searchKeyword);
	    window.location.href = formAction;
	}
	  

  </script>  



</body>
</html>