<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>출고목록</title>
<link type="text/css" rel="stylesheet" href="../css/header.css">
<link type="text/css" rel="stylesheet" href="../css/common.css">
<link type="text/css" rel="stylesheet" href="../css/sidebar.css">
<link type="text/css" rel="stylesheet" href="../css/invoice.css">
  <script type="text/javascript" src="../js/sidebar.js"></script>
</head>
<body>
	<div th:insert="~{common/sidebar :: sidebar}"></div>
	<div class="main-content">
		<div th:insert="~{common/header :: header}"></div>
		<div id="row1">
			<h1 class="visual-title">출고목록</h1>
			<div class="search-container">
				<form id="searchForm"
					onsubmit="event.preventDefault(); performSearch();">
					<!-- 날짜 선택 영역 -->
					<div class="date-range">
						<label for="startDate"></label> <input type="date" id="startDate">
						<label for="endDate">~</label> <input type="date" id="endDate">
					</div>
					<!-- 검색 옵션과 필드 -->
					<div class="search-bar">
						<select id="filterSelect">
							<option value="itemCode">품목코드</option>
							<option value="itemName">품목명</option>
							<option value="productName">제품명</option>
							<option value="consumption">소요량</option>
							<option value="stock">재고수량</option>
						</select> <input type="text" id="searchInput" placeholder="검색...">
						<button type="button" onclick="performSearch()" class="blueBtn">검색</button>
					</div>
				</form>
				<!-- 결과 표시 테이블 -->
				<table id="resultsTable">
					<thead>
						<tr>
							<th>품목코드</th>
							<th>품목명</th>
							<th>제품명</th>
							<th>생산일자</th>
							<th>소요량</th>
							<th>재고수량</th>
							<th>출고수량</th>
						</tr>
					</thead>
					<tbody>
						<!-- 동적 결과 -->
					</tbody>
				</table>
				<div class="actions">
					<button type="button" class="blueBtn">저장</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>