<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>재고관리 리포트</title>
<link type="text/css" rel="stylesheet" href="/css/common/header.css">
<link type="text/css" rel="stylesheet" href="/css/common/common.css">
<link type="text/css" rel="stylesheet" href="/css/common/sidebar.css">
<link type="text/css" rel="stylesheet" href="/css/materials/stockReport.css">
<script type="text/javascript" src="../js/sidebar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div th:insert="~{/common/sidebar :: sidebar}"></div>
    <div class="main-content">
        <div th:insert="~{/common/header :: header}"></div>
        <div id="row1">
            <h1 class="visual-title">재고관리 리포트</h1>
             <form id="searchForm" method="get">
                        <div class="date-range">
                            <label for="startDate">시작 날짜</label> 
                            <input type="date" id="startDate" name="startDate" required>
                            <label for="endDate">종료 날짜</label> 
                            <input type="date" id="endDate" name="endDate" required>
                            <label for="limit">표시 항목 수:</label>
                            <input type="number" id="limit" name="limit" value="6" required>
                            <label for="search">검색어:</label>
                            <input type="text" id="search" name="search">
                            <button type="submit" class="blueBtn">검색</button>
                        </div>
                    </form>
            <div class="content-card">
                <!-- 차트 영역 -->
                <canvas id="inventoryChart"></canvas>

                <div class="card-wrap">
                   <!--  <form id="searchForm" method="get">
                        <div class="date-range">
                            <label for="startDate">시작 날짜:</label> 
                            <input type="date" id="startDate" name="startDate" required>
                            <label for="endDate">종료 날짜:</label> 
                            <input type="date" id="endDate" name="endDate" required>
                            <label for="limit">표시 항목 수:</label>
                            <input type="number" id="limit" name="limit" value="6" required>
                            <label for="search">검색어:</label>
                            <input type="text" id="search" name="search">
                            <button type="submit" class="blueBtn">검색</button>
                        </div>
                    </form> -->
                    <div class="col1">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">재고 수량</p>
                                <h2 class="card-content" id="finalInventory">0</h2>
                            </div>
                        </div>               
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">재고 금액 (\)</p>
                                <h2 class="card-content" id="totalInventoryValue">0</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <script th:inline="javascript">
        /*<![CDATA[*/
        var inventoryPeriods = /*[[${inventoryPeriods}]]*/ '[]';      
        /*]]>*/
    </script>
    
<script type="text/javascript">
        var myChart;

        function updateInventoryData(data) {
            var inventoryPeriods = data.inventoryPeriods;
            var itemNames = inventoryPeriods.map(ip => ip.inventoryName);
            var finalInventoryQuantities = inventoryPeriods.map(ip => ip.finalInventory);
            var finalInventoryValues = inventoryPeriods.map(ip => ip.finalInventoryValue);

            document.getElementById('finalInventory').innerText = data.finalInventory;
            document.getElementById('totalInventoryValue').innerText = data.totalInventoryValue;

            var ctx = document.getElementById('inventoryChart').getContext('2d');

            if (myChart) {
                myChart.destroy();
            }

            myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: itemNames,
                    datasets: [
                        {
                            label: '재고',
                            data: finalInventoryQuantities,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        },
                        {
                            label: '재고 금액',
                            data: finalInventoryValues,
                            type: 'line',
                            fill: false,
                            borderColor: 'rgba(54, 162, 235, 1)',
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            yAxisID: 'y2'
                        }
                    ]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: function(value) { return value + ' ea'; }
                            },
                            title: {
                                display: true,
                                text: '개수'
                            }
                        },
                        y2: {
                            beginAtZero: true,
                            position: 'right',
                            ticks: {
                                callback: function(value) { return value + ' 원'; }
                            },
                            title: {
                                display: true,
                                text: '금액'
                            }
                        }
                    }
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            fetch('/default_inventory_period_report')
                .then(response => response.json())
                .then(data => {
                    updateInventoryData(data);
                })
                .catch(error => {
                    console.error("Error fetching default inventory data:", error);
                });

            document.getElementById('searchForm').addEventListener('submit', function(event) {
                event.preventDefault();
                var startDate = document.getElementById('startDate').value;
                var endDate = document.getElementById('endDate').value;
                var limit = document.getElementById('limit').value;
                var search = document.getElementById('search').value;
                var url = `/inventory_period_report?startDate=${startDate}&endDate=${endDate}&limit=${limit}&search=${search}`;
                
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        updateInventoryData(data);
                    })
                    .catch(error => {
                        console.error("Error fetching inventory period data:", error);
                    });
            });
        });
    </script>
    
    

</body>
</html>
