  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="../CSS/common/header.css">
<link type="text/css" rel="stylesheet" href="../CSS/common/common.css">
<link type="text/css" rel="stylesheet" href="../CSS/common/sidebar.css">
  <link type="text/css" rel="stylesheet" href="../css/materials/stockReport.css">
  <script type="text/javascript" src="../js/sidebar.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

</head>
<body>
	<div th:insert="~{common/sidebar :: sidebar}"></div>
	<div class="main-content">
		<div th:insert="~{common/header :: header}"></div>
		<div id="row1">
		<h1 class="visual-title">재고관리 리포트</h1>
		<div class="content-card">
<div id="container1" style="height: 700px; width: 70%;"></div>
	    <!-- <div class="b-graph-wrap">
	      <div class="b-graph">
	        <p class="home-title">MONTHLY REPORT </p>
	        <div class="b-graph-body">
	          <div class="bar"></div>
	          <div class="bar2"></div>
	          <div class="bar3"></div>
	          <div class="bar"></div>
	          <div class="bar2"></div>
	          <div class="bar3"></div>
	           <div class="bar"></div>
	          <div class="bar2"></div>
	          <div class="bar3"></div>
	          <div class="bar"></div>
	          <div class="bar2"></div>
	          <div class="bar3"></div>
	        </div>
	      </div>
	    </div> -->
	    <div class="card-wrap">
	    <form id="searchForm">
			<!-- 날짜 선택 영역 -->
			<div class="date-range">
				<label for="startDate"></label> <input type="date" id="startDate">
				<label for="endDate">~</label> <input type="date" id="endDate">
			</div>
		</form>
	      <div class="col1">
	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">입고 수량   </p>
	            <h2 class="card-content">37,845</h2>
	          </div>
	        </div>
	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">출고 수량   </p>
	            <h2 class="card-content">25,845</h2>
	          </div>
	        </div>
	        <div class="card">
	          <div class="card-body">
	            <p class="card-title">금액 (\)</p>
	            <h2 class="card-content">3,571,000</h2>
	          </div>
	        </div>
	      </div>
	    </div>
		</div>
		</div>
</div>
	  


  <script type="text/javascript">
    var dom = document.getElementById('container1');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    option = {
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'cross',
      crossStyle: {
        color: '#999'
      }
    }
  },
  toolbox: {
    feature: {
      dataView: { show: true, readOnly: false },
      magicType: { show: true, type: ['line', 'bar'] },
      restore: { show: true },
      saveAsImage: { show: true }
    }
  },
  legend: {
    data: ['입고', '출고', '재고금액']
  },
  xAxis: [
    {
      type: 'category',
      data: ['볼트', '너트', '전선', '커넥터', '버튼', '품목', '품목2'],
      axisPointer: {
        type: 'shadow'
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      name: '개수',
      min: 0,
      
      interval: 200,
      axisLabel: {
        formatter: '{value} ea'
      }
    },
    {
      type: 'value',
      name: '금액',
      min: 0,
      
      interval: 500000,
      axisLabel: {
        formatter: '{value} 원'
      }
    }
  ],
  series: [
    {
      name: '입고',
      type: 'bar',
      tooltip: {
        valueFormatter: function (value) {
          return value + ' ea';
        }
      },
      data: [
        500,300,600,650,720,210,480
      ]
    },
    {
      name: '출고',
      type: 'bar',
      tooltip: {
        valueFormatter: function (value) {
          return value + ' ea';
        }
      },
      data: [
        400,250,570,620,600,120,400
      ]
    },
    {
      name: '재고금액',
      type: 'line',
      yAxisIndex: 1,
      tooltip: {
        valueFormatter: function (value) {
          return value + ' 원';
        }
      },
      data: [150000,200000,300000,175000,275000,65000,96000]
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
 <!--  <script type="text/javascript">
      var dom = document.getElementById('container1');
      var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
      });
      var app = {};

      var option;

      option = {
          xAxis: {
              type: 'category',
              data: ['입고수량', '출고수량', '진척 검수', '조달 마감']
          },
          yAxis: {
              type: 'value'
          },
          series: [
              {
                  data: [50, 30, 20, 15],
                  type: 'bar',
                  showBackground: true,
                  backgroundStyle: {
                      color: 'rgba(180, 180, 180, 0.2)'
                  }
              }
          ]
      };

      if (option && typeof option === 'object') {
          myChart.setOption(option);
      }

      window.addEventListener('resize', myChart.resize);
  </script> -->
<!--   <script>
    document.addEventListener("DOMContentLoaded", function() {
      // 각 막대에 대해 높이를 지정하는 값을 변경
      var bars = document.querySelectorAll(".bar");
      var gap = 200; // 막대 간격
      var width = 20; // 막대 너비
      var start
      bars.forEach(function(bar, index) {
        var leftValue = index * (gap + width) + 30; // 좌표 계산
        bar.style.left = leftValue + "px"; // 각 막대에 좌표를 지정

        var height = Math.random() * 90; // 0부터 100까지 무작위 높이 생성
        bar.style.height = height + "%"; // 각 막대에 높이를 지정
      });
    });

    document.addEventListener("DOMContentLoaded", function() {
      // 각 막대에 대해 높이를 지정하는 값을 변경
      var bars = document.querySelectorAll(".bar2");
      var gap = 200; // 막대 간격
      var width = 20; // 막대 너비
      var start
      bars.forEach(function(bar, index) {
        var leftValue = index * (gap + width) + 80; // 좌표 계산
        bar.style.left = leftValue + "px"; // 각 막대에 좌표를 지정

        var height = Math.random() * 90; // 0부터 100까지 무작위 높이 생성
        bar.style.height = height + "%"; // 각 막대에 높이를 지정
      });
    });
    document.addEventListener("DOMContentLoaded", function() {
        // 각 막대에 대해 높이를 지정하는 값을 변경
        var bars = document.querySelectorAll(".bar3");
        var gap = 200; // 막대 간격
        var width = 20; // 막대 너비
        var start
        bars.forEach(function(bar, index) {
          var leftValue = index * (gap + width) + 130; // 좌표 계산
          bar.style.left = leftValue + "px"; // 각 막대에 좌표를 지정

          var height = Math.random() * 90; // 0부터 100까지 무작위 높이 생성
          bar.style.height = height + "%"; // 각 막대에 높이를 지정
        });
      });
  </script> -->
</body>
</html>