#row1 {
  border: solid 1px #999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 40px;
 }
 
 .visual-title {
   margin-bottom: 15px;
   border-left: 3px solid black;
   padding-left: 10px;
 }
 
 .regi-table { 
   width:100%;
   border-radius: 5px;
 }
 .list-table { 
  width:100%;
  border-radius: 5px;
 }
 
 #row2 {
   border: solid 1px #999;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
   background-color: white;
   border-radius: 5px;
   padding: 20px;
   margin: 10px 40px;
 }

 .blueBtn {
  padding: 10px 20px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.blueBtn:hover {
  background-color: #0056b3;
}
input[type="date"],
input[type="text"],
select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 180px;
}
input[type="checkbox"] {
  margin-right: 5px;
}