body {
  background-color: #f1f1f1;
}

#row1 {
  display: flex;
}
.notice, .notice2 {
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  /* border: 1px solid #999; */
  height: 250px;
  padding: 20px;
  width: 45%;
  margin: 10px auto;
  background-color: white;
}

.recentList {
  padding: 20px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  /* border: 1px solid #999; */
  margin: 10px auto;
  width: 95%;
  background-color: white;
}

/* 그래프 */
#row3 {
  display: flex;
}

.graph1, .graph2 {
  border-radius: 5px;
  /* border: 1px solid #999; */
  height: 250px;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}
.graph1 {
  width: 300px; /* 원의 지름을 200px로 설정 */
  height: 300px; /* 원의 지름을 200px로 설정 */
  position: relative;
  border: 1px solid #ccc; /* 그래픽 테두리 스타일링 */
  border-radius: 50%; /* 원형 모양으로 설정 */
  overflow: hidden; /* 넘치는 그래픽을 숨김 */
}

.slice {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 50%);
}

.slice1 {
  transform: rotate(0deg);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%, 50% 50%);
  background-color: skyblue; /* 50% 비율 슬라이스의 색상 */
}

.slice2 {
  transform: rotate(72deg);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 85% 100%, 50% 50%);
  background-color: lightgreen; /* 30% 비율 슬라이스의 색상 */
}

.slice3 {
  transform: rotate(144deg);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 70% 100%, 50% 50%);
  background-color: lightcoral; /* 5% 비율 슬라이스의 색상 */
}

.slice4 {
  transform: rotate(216deg);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 55% 100%, 50% 50%);
  background-color: lightsalmon; /* 15% 비율 슬라이스의 색상 */
}

.slice5 {
  transform: rotate(288deg);
  clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 45% 100%, 50% 50%);
  background-color: lightpink; /* 15% 비율 슬라이스의 색상 */
}

.graph2 {
  width: 300px; /* 그래프 전체의 너비 */
  height: 300px; /* 그래프 전체의 높이 */
  position: relative;
  border: 1px solid #ccc; /* 그래픽 테두리 스타일 */
}

.bar {
  position: absolute;
  bottom: 0; /* 그래프의 아래쪽에 막대가 정렬되도록 설정 */
  width: 50px; /* 막대의 너비 */
}

.bar1 {
  left: 20px; /* 첫 번째 막대의 좌표 */
  height: 50%; /* 첫 번째 막대의 높이 (50%) */
  background-color: #4CAF50; /* 첫 번째 막대의 색상 */
}

.bar2 {
  left: 75px; /* 두 번째 막대의 좌표 */
  height: 30%; /* 두 번째 막대의 높이 (30%) */
  background-color: #2196F3; /* 두 번째 막대의 색상 */
}

.bar3 {
  left: 130px; /* 세 번째 막대의 좌표 */
  height: 20%; /* 세 번째 막대의 높이 (20%) */
  background-color: #f44336; /* 세 번째 막대의 색상 */
}

.bar4 {
  left: 185px; /* 네 번째 막대의 좌표 */
  height: 7%; /* 네 번째 막대의 높이 (7%) */
  background-color: #FF9800; /* 네 번째 막대의 색상 */
}

.bar5 {
  left: 240px; /* 다섯 번째 막대의 좌표 */
  height: 3%; /* 다섯 번째 막대의 높이 (3%) */
  background-color: #9C27B0; /* 다섯 번째 막대의 색상 */
}