#full_body {
    background-color: #27508d;
    background-repeat: no-repeat;
    background-position: 0 1px;
    /*이건 나중에 지울 거*/
    width: 1400px;
    height: 300px;
}

#login_container {
    width: 500px;
    height: 500px;
    border: 1px solid #152e45;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    font-size: 10pt;
    position: absolute;
    top: 50%;
    left: 50%
}
#login_container h3 {
    margin: 20px auto;
}
#login_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side_logo {
/*     width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #152e45; */
    margin: 0 auto;
}

form {
    margin: 40px auto;
    width: 350px;
    list-style-type: none;
    text-align: left;
}

form hr {
    /* background: #a2c4f3; */
    background-color: #152e45;
    height: 1px;
    border: 0;
}

.form_list {
    border: 1px solid #152e45;
    border-radius: 10px;
    margin-bottom: 10px;
}
.form_list input {
    border: none;
    background-color: #fff;
    padding: 10px;
    width: 300px;
    height: 40px;
}

.form_list select {
    border: none;
    padding: 10px;
    width: 300px;
    height: 40px;
}
.form_item {
    margin: 5px;
    padding: 5px;
}

.login_button {
    background-color: #152e45;
    width: 300px;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    margin-left: 25px;
}

/*.account_links {*/
/*    margin-top: 20px;*/
/*}*/