/********************************** 초기화 **********************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li,
	blockquote, pre, button, fieldset, form, legend, table, caption, tbody,
	tfoot, thead, tr, th, td, iframe, article, aside, canvas, details,
	embed, figure, figcaption, header, footer, menu, nav, section, summary,
	audio, video {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

a:focus {
	color: inherit;
	text-decoration: underline;
}

a:active {
	color: inherit;
	text-decoration: none;
}

a:checked {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

input:focus {
	border: none;
	outline: none;
}

/*****************************공통레이아웃************************************/
body {
	/* border: 1px solid black; */
	position: relative;
	height: 100%;
	color: #222;
	font-family: 'Nanum Gothic', '맑은 고딕', 'Dotum', '돋움', 'Gulim', '굴림',
		sans-serif;
	transition: margin-left 0.5s; /* 사이드바 토글 시 부드러운 이동 */
}

.main-content {
	margin-left: 0; /* 사이드바가 숨겨져 있을 때 */
	transition: margin-left 0.3s; /* 사이드바가 나타날 때 오른쪽으로 밀림 */
	margin-top: 80px;
}

#container {
	position: relative;
	width: 1400px;
	margin: 0 auto;
}

/*header*/
#header {
	position: relative;
	width: 100%;
	height: 400px;
	/* background-color: #fff;  */
}

/*content*/
#main {
	position: relative;
	width: 100%;
	height: 100%;
	/* border: 1px solid black; */
}

/*푸터*/
#footer {
	position: relative;
	width: 1400px;
	height: 230px;
	/* background-color: #fff; */
	padding-bottom: 70px;
	margin: 0 auto;
}

/* 테이블 기본 세팅 */
table {
	border-collapse: collapse;
	margin : 20px;
}

table, th, td {
	border: 1px solid #b6b6b6;
}

th { 
	background-color : #f4f4f9;
}

th, td {
	padding: 10px;
	text-align: left;
}

/* 버튼 기본 세팅 */
.blueBtn {
	padding: 10px 20px;
	color: white;
	background-color: #2d91ff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	heigth : 
}

.blueBtn:hover {
	background-color: #0056b3;
}


/* input 기본 세팅 */
input[type="date"]{
		padding: 8px;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 180px;
	height: 40px;
}

 input[type="text"], select {
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	/* width: 180px; */
	height: 40px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

input[type="number"] {
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100px;
}

/*****************************페이징 스타일************************************/
.paging-wrap {
	display: flex;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 10px auto 20px;
	border-radius: 4px;
}

.pagination li {
	display: inline;
}

.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
}

.pagination li a.active {
	background-color: #aebdf2;
	color: white;
	border: 1px solid #aebdf2;
}

.pagination li a:hover {
	background-color: #004080;
	color: white;
	border: 1px solid #004080;
	
}


/*************************** 스크롤바 스타일링 ***************************/
::-webkit-scrollbar {
	width: 12px; /* 스크롤바 너비 */
	height: 10px; /* 가로 스크롤바 높이 */
}

/* 세로  */
::-webkit-scrollbar-thumb:vertical {
	background: #a4a4a4; 
	border-radius: 10px; 
}
::-webkit-scrollbar-thumb:vertical:hover {
	background: #757575; 
}
::-webkit-scrollbar-track:vertical {
 background: #d4d4d4;
}


/* 가로 */
::-webkit-scrollbar-thumb:horizontal {
	background: #bfdeff; 
	border-radius: 10px; 
}

::-webkit-scrollbar-thumb:horizontal:hover {
	background: #8ac1ff; /* 가로 스크롤바 호버 색상 */
}

::-webkit-scrollbar-track:horizontal {
	background: #f0f0f0; /* 스크롤바 트랙 색상 */
		border-radius: 10px; 
}

/* ::-webkit-scrollbar-corner {
	background: #f1f1f1;
} */

/* 스크롤바 화살표 버튼 숨기기 */
/* ::-webkit-scrollbar-button {
	display: none; 스크롤바 화살표 버튼 숨기기
} */
