#header_wrap {
	height: 50px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	color: white;
	    position: fixed; /* 상단에 고정 */
    top: 0; /* 위쪽으로부터 거리 */
    width: 100%; /* 전체 너비 */
    background-color: #fff; /* 배경색 지정 */
    z-index: 900; /* 다른 요소 위에 표시 */
}

.topbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 50px;
}

/* 토글 버튼을 왼쪽에 배치 */
.toggle_button {
	float: left;
	/* order: -1; */
}

.l-flex {
	display: flex;
	align-items: center;
}


/* 프로필 이미지 */
.profile-img img {
	width: 40px;
	height: 40px;
	border-radius: 50%; /* 이미지 동그라미 */
	background-color: skyblue;
}

.l-flex {
	margin: 10px 20px;
}
/* 이름과 직책*/
/* .l-flex span {
	display: flex;
	flex-direction: column;
	margin: 0 -5px;
} */

.l-flex .profile-info {
	margin: 0 20px;
}


.topbarA span{
	color :black;
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	font-size : small;
}