body {
  background-color: #fafbfe;
}

#row1 {
  /* border: solid 1px #999; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  margin: 10px 40px;
}

.visual-title {
  margin-bottom: 15px;
  border-left: 3px solid black;
  padding-left: 10px;
}

.search-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
}


.search-container form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.read_wrap {
  overflow: hidden; /* 자식 요소가 부모 요소를 벗어나지 않도록 설정 */
}

.btn-container {
	float: right;
	margin: 0 90px 20px;
}


/*********************테이블**********************/

table {
  margin: 30px auto;
  width: 90%;
  text-align: center;
}

th {
  text-align: center; /* 가운데 정렬 */
  padding: 8px;
}

td {
  padding: 8px; /* 셀 간격 추가 */
}
td.list_num {
  text-align: center; /* 가운데 정렬 */
}


.read_td {
	margin : 30px auto;
	
	padding : 100px 200px;
}