body {
  background-color: #f1f1f1;
}


#resultsTable {
   width : 100%;
   margin : 20px auto ;
}

.table td {
   colspan="2";
}
table th{
	text-align: center; /* 가로 중앙 정렬 */
    vertical-align: middle; /* 세로 중앙 정렬 */
}
#row1 {
/* border: solid 1px #999; */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
background-color: white;
border-radius: 5px;
padding: 20px;
margin: 10px 40px;
}
tr.small td input{
   width : 100%;
   margin : 0 auto;
}

#row2 {
  /* border: solid 1px #999; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 40px;
}
.visual-title {
  margin-bottom: 15px;
  border-left: 3px solid black;
  padding-left: 10px;
}

.search-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}

.search-container form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	float: right;
	
}

.date-range {
	margin-left : -10px;
}
form div {
  margin-bottom: 20px;
}
label {
  margin-right: 10px;
}


.actions {
  text-align: right;
  margin-top: 10px;
}

/* 반응형 웹 */
@media (max-width: 768px) {
  .search-bar, .date-range {
      display: block;
      margin-right: 0;
      width: 100%;
  }
  select, input[type="date"], input[type="text"], button {
      width: calc(100% - 16px);
  }
}

input{
	height : 100%;
}
.sort-button {
  cursor: pointer;
  background: none;
  border: none;
  color: #007BFF;
  padding: 0;
  margin-left: 5px;
}
.regiBtn {
   float: right; 
   margin-bottom : 10px
}