<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="../css/common/header.css">
<link type="text/css" rel="stylesheet" href="../css/common/common.css">
<link type="text/css" rel="stylesheet" href="../css/procurement/add_contract.css">
<link type="text/css" rel="stylesheet" href="../css/common/sidebar.css">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script type="text/javascript" src="../js/sidebar.js"></script>
<title>계약등록</title>
</head>
<body>
	<div th:insert="~{/common/sidebar :: sidebar}"></div>
	<div th:insert="~{/common/header :: header}"></div>
	<div class="main-content">
		<form th:action="@{/saveContract}" method="post"
			enctype="multipart/form-data">
			<div id="row1">
				<h2 class="visual-title">계약등록</h2>
				<table class="regi-table" id="1">
					<colgroup>
						<col width="20%">
						<col width="70%">
					</colgroup>
					<tr>
						<th>계약</th>
						
					</tr>
					<tr>
						<th>계약번호</th>
						<td id="conNum"><input type="text" name="conNum" readonly></td>
					</tr>
					<tr>
						<th>사업자번호</th>
						<td id="brn"><input type="text" name="brn" id="tt1"
							placeholder="품목을 먼저 선택하세요"></td>
					</tr>
					<tr>
						<th>업체명</th>
						<td id="cName"><input type="text" name="company_name"
							readonly></td>
					</tr>
					<tr>
						<th>계좌정보</th>
						<td id="cAc"><input type="text" name="company_account"
							readonly></td>
					</tr>
					<tr>
						<th>비고</th>
						<td id="cNote"><input type="text" name="company_note"
							readonly></td>
					</tr>
				</table>
				<table class="regi-table" id="2">
					<colgroup>
						<col width="20%">
						<col width="20%">
						<col width="15%">
						<col width="20%">
						<col width="30%">
					</colgroup>
					<tr>
						<th>품목코드</th>
						<th>품목명</th>
						<th>단가</th>
						<th>L/T일</th>
						<th>계약일</th>
						<th>특이사항</th>
					</tr>
					<tr>
						<td id="itemCodeCell"><input type="text" name="itemCode"
							readonly> <input type="hidden" name="contractNumber">
						</td>
						<!-- item 테이블의 외래키 : 계약 품목에 저장  값 보내는거 생성-->
						<td id="itemNameCell"><input type="text" name="itemName"
							readonly></td>
						<td id="unitPriceCell"><input type="text" name="price"></td>
						<td id="leadTimeCell"><input type="number" name="leadTime"></td>
						<td id="contractDate"> <input type="date" name="contractDate"></td>
						<td id="contractNote"><input type="text" name="contractNote"></td>
					</tr>

				</table>
				<div class="btn-container">
					<button type="submit" class="blueBtn">저장</button>
					<button type="reset" class="blueBtn">초기화</button>
				</div>
			</div>
		</form>

		<div id="row2">
			<div id="contractList">
				<h2 class="visual-title">계약관리</h2>
				<div class="search-container">
					<!-- 드롭다운 메뉴로 필터 선택 -->
					<select id="filterSelect">
						<option value="1">품목코드</option>
						<option value="2">품목명</option>
					</select>

					<!-- 검색 입력 필드 -->
					<input type="text" id="searchInput" placeholder="검색어를 입력하세요">
					<button onclick="performSearch()" class="blueBtn">검색</button>
				</div>
				<table class="regi-table" id="t3">
					<tr>
						<th>계약번호</th>
						<th>품목코드</th>
						<th>품목명</th>
						<th>업체명</th>
						<th>사업자번호</th>
						<th>단가(원)</th>
						<th>L/T일</th>
						<th>계약진행</th>
						<th>계약여부</th>
						<th>삭제</th>
						<th>계약서</th>
					</tr>

					<th:block th:each="item, itemIndex: ${items}">
						<tr id="item">
							<td></td>
							<td th:text="${item.itemCode}"></td>
							<td th:text="${item.itemName}"></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>

						<tr id="contract" th:if="${item.contracts != null}"
							th:each="contract : ${item.contracts}">
							<td th:text="${contract.contract_number}"></td>
							<td th:text="${item.itemCode}"></td>
							<td th:text="${item.itemName}"></td>
							<td th:text="${contract.company.company_name}"></td>
							<td th:text="${contract.company.brn}"></td>
							<td th:text="${contract.unit_price}"></td>
							<td th:text="${contract.lead_time}"></td>
							<td th:switch="${contract.contractYn}"><span th:case="'n'">
									<input type="button" class="blueBtn" value="계약하기"
									th:onclick="'confirmContract(' + ${contract.contract_number} + ')'">
							</span> <span th:case="'y'"> <input type="button" id="blueBtn"
									class="blueBtn" value="계약완료">
							</span></td>
							<td th:text="${contract.contractYn}"></td>
							<td><input type="button"
								th:data-contract-number="${contract.contract_number}"
								th:data-contract-yn="${contract.contractYn}" class="blueBtn"
								value="삭제" onclick="deleteCon(this)"></td>
							<td><input type="button" class="popupBtn blueBtn"
								value="계약서보기"></td>
							<td th:text="${contract.contract_note}" style="display: none;">
								<!-- 정보 조회 용 히든 값 -->
							<td th:text="${contract.contract_date}" style="display: none;">
								<!-- 정보 조회 용 히든 값 -->
						</tr>
					</th:block>
					</th:block>
				</table>

				<div class="paging-wrap">
					<ul class="pagination">

						<!-- 이전 페이지 링크 -->
						<li><a th:href="@{/add_contract(page=${items.number - 1})}">&lt;</a>
						</li>

						<!-- 페이지 번호 링크 -->
						<li th:each="i : ${#numbers.sequence(0, items.totalPages + 1)}">
							<a th:href="@{/add_contract(page=${i})}"
							th:classappend="${i == items.number} ? 'active'"
							th:text="${i + 1}">Page number</a>
						</li>

						<!-- 다음 페이지 링크 -->
						<li><a th:href="@{/add_contract(page=${items.number + 1})}">&gt;</a>
						</li>
					</ul>
				</div>


			</div>
		</div>
	</div>

	<!-- 모달 오픈화면 -->
<!-- 	<div id="modalWrap">
		<div id="modalBody">
			<button type="button" id="closeBtn" class="closeBtn">&times;</button>
			<img id="modalImage" alt="계약서 이미지">
			<div class="modalBtn1">
				<button type="button" class="blueBtn modalBtn" id="printBtn">인쇄</button>
				<button type="button" class="blueBtn modalBtn" id="saveBtn">저장</button>

			</div>
		</div>
	</div> -->
	
	<div id="modalWrap">
		<div id="modalBody">
		
			<button type="button" id="closeBtn" class="closeBtn">&times;</button>
			<div class="contractBody">
				<h2>물품공급계약서</h2>
				<p id="contractCompany"></p>
				<h4>제 1 조 [품목 내역]</h4>
				<table>
				<tr>
				<th>품목명</th>
				<th>단가</th>
				<th>L/T일</th>
				<th>특이사항</th>
				</tr>
				<tr>
					<td id="contractName" ></td>
					<td id="contractPrice" ></td>
					<td id="contractLeadTime" ></td>
					<td id="contractNote1" ></td>
				</tr>
			    </table>
				<h4>제 2 조 [계약단가]</h4>
				<p id="contractPrice1"></p>
				<h4>제 3 조 [납품기한]</h4>
				<p> 발주일에 따름 </p>
				
				<h4>제 4 조 [인도조건]</h4>
				<p>물품의 인도장소는 "을"의 지정장소로 하며 운임 및 기타소요비용 일체는 "갑"의 부담으로 한다.</p>
				
				<h4>제 5 조 [지체배상금]</h4>
				<p>사전에 "을"에게 납품연기 승인을 서면 상으로 신청해야 하며, 이때 지체일수 1일에 대하여 해당 계약금액에 대해 1/1000의 지체배상금을 물품대금에서 공제하기로 한다.
				<br>(단, 천재지변 기타 불가항력에 인한 것이라고 "을"이 인정할 때는 지체배상금을 면제 할 수 있다.) </p>
				
				
				<h4>제 6 조 [검수]</h4>
				<p>물품의 검수는 "을"이 지정하는 검수인이 "을"의 지정장소에서 행한 것으로 한다.</p>
				
				<h4>제 7 조 [대금 지급방법]</h4>
				<p>"을"은 거래명세서에 따른 비용을 60일 안에 갑에게 지급하는 조건으로 한다.</p>
				
				<h4>제 8 조 [하자 보증]</h4>
				<p>"갑"은 계약물품의 검수완료일로 부터 12개월간 하자보증의 책임을 진다. 또한 비용은 "갑"의 부담으로 한다.</p>
			</div>
			
			<div class="modalBtn1">
				<button type="button" class="blueBtn modalBtn" id="printBtn">인쇄</button>
				<button type="button" class="blueBtn modalBtn" id="saveBtn">저장</button>
			</div>
			
		</div>
	</div>


	<script th:inline="javascript">
    /* JavaScript 코드 시작 */
    /* 각 계약서 보기 버튼에 대한 이벤트 리스너 추가 */
document.querySelectorAll('.popupBtn').forEach(button => {
    button.addEventListener('click', function() {
    	
        document.getElementById("modalWrap").style.display = 'block'; // 모달 열기
    });
});
    
    
    //모달계약서 저장하기.
document.getElementById('saveBtn').addEventListener('click', function() {
    // contractBody div의 모든 내용을 가져옴
    var contractBody = document.querySelector('.contractBody');

    // html2canvas를 사용하여 이미지로 변환
    html2canvas(contractBody).then(function(canvas) {
        // canvas를 이미지로 변환
        var imgData = canvas.toDataURL('image/jpeg');

        // 새로운 a 엘리먼트 생성
        var a = document.createElement('a');
        a.href = imgData;
        a.download = 'contract_document.jpg'; // 파일명은 원하는대로 변경 가능

        // a 엘리먼트를 클릭하여 다운로드 실행
        a.click();
    });
});
    
    
    //인쇄
document.getElementById('printBtn').addEventListener('click', function() {
    // contractBody div를 가져옴
     var contractBody = document.querySelector('.contractBody').outerHTML;
    
    // 새로운 창을 열어서 contractBody 내용을 표시하고 인쇄
    var printWindow = window.open('', '_blank');
 

    // 새 창의 head에 특정 스타일시트를 추가
    printWindow.document.write('<html><head>');
    printWindow.document.write('<link type="text/css" rel="stylesheet" href="../css/procurement/add_contract.css">');
    printWindow.document.write('</head><body>');
    printWindow.document.write(contractBody);
    printWindow.document.write('</body></html>');
    printWindow.document.close();

    // 내용이 로드된 후에 인쇄 실행
    printWindow.onload = function() {
        printWindow.print();
        printWindow.close();
    };
});

    document.getElementById('closeBtn').addEventListener('click', function() {
        document.getElementById("modalWrap").style.display = 'none'; // 모달 닫기
    });
</script>
	<script>
    //모달 닫기 버튼 클릭 시 모달 닫기
    document.getElementById("closeBtn").addEventListener("click", function() {
        modalWrap.style.display = "none";
    });

    // 모달 외부 클릭 시 모달 닫기
    window.addEventListener("click", function(event) {
        if (event.target === modalWrap) {
            modalWrap.style.display = "none";
        }
    });

/*     // 이미지 로드 후 모달 크기 조절
    modalImage.onload = function() {
        const imageWidth = modalImage.naturalWidth;
        const imageHeight = modalImage.naturalHeight;
        const maxWidth = window.innerWidth * 0.8; // 창 너비의 80%
        const maxHeight = window.innerHeight * 0.8; // 창 높이의 80%
        
        // 이미지 크기에 따라 모달 바디 크기 조절
        if (imageWidth > maxWidth || imageHeight > maxHeight) {
            if (imageWidth / maxWidth > imageHeight / maxHeight) {
                modalBody.style.width = maxWidth + "px";
                modalBody.style.height = "auto";
            } else {
                modalBody.style.width = "auto";
                modalBody.style.height = maxHeight + "px";
            }
        }
        
    }; */
</script>





	<!-- 하단의 품목 클릭으로 (품목코드,이름)값을 가져옴(제이쿼리) -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">


$(document).ready(function() {
    // 하단 클릭 -> 상단 출력 // 품목 클릭 이벤트 처리 
    $('#contractList table tr#item').click(function() {
       $('#1 input').val('');

		$('#2 input').val('');
        var itemCode = $(this).find('td:eq(1)').text().trim(); // 품목코드 (두 번째 열)
        var itemName = $(this).find('td:eq(2)').text().trim(); // 품목명 (세 번째 열)
        var brnValue = $('#brn input[name="brn"]').val();
        
        
        // 상단에 출력
        $('#itemCodeCell input[name="itemCode"]').val(itemCode).prop('readonly', true);
        $('#itemNameCell input[name="itemName"]').val(itemName).prop('readonly', true);
    });
    
    //  하단 클릭 -> 상단 출력 //계약 내역 클릭 이벤트 처리 
    $('#contractList table tr#contract').click(function() {
        // 클릭한 행에서 계약정보 가져오기
        var itemCode = $(this).find('td:eq(1)').text().trim();
        var itemName = $(this).find('td:eq(2)').text().trim();
        var brn = $(this).find("td:eq(4)").text().trim();
        
        // 상단 테이블에 정보 넣기
        $('#itemCodeCell input[name="itemCode"]').val(itemCode).prop('readonly');
        $('#itemNameCell input[name="itemName"]').val(itemName).prop('readonly');
/*         $('#brn input[name="brn"]').val(brn);     */
    });

    // 상단 테이블의 계약 행 대한 클릭 이벤트 처리 
    $("#contractList table[id='t3'] tr").click(function() {
        // 클릭한 행에서 계약정보 가져오기
        var conNum = $(this).find('td:eq(0)').text().trim(); //계약번호
        var itemCode = $(this).find('td:eq(1)').text().trim();
        var itemName = $(this).find('td:eq(2)').text().trim();
        var companyName = $(this).find('td:eq(3)').text().trim();
        var brn = $(this).find('td:eq(4)').text().trim();
        var unitPrice = $(this).find('td:eq(5)').text().trim();
        var leadTime = $(this).find('td:eq(6)').text().trim();
        var contractNoteth = $(this).find('td:eq(11)').text().trim();
        var contractDate =  $(this).find('td:eq(12)').text().trim();

        var conYn = $(this).find('td:eq(8)').text().trim();

        //계약 완료시 조회만 되게함 .prop
        var ConBool = false;
        if (conYn === 'y'){
            ConBool = true;
            $('.btn-container').hide();  //계약완료시  저장, 초기화버튼 감추기
        }
        else{
            $('.btn-container').show();
            ConBool = false;
        }
        
        // 해당 정보를 상단의 입력 필드에 넣기

		$('#conNum input[name="conNum"]').val(conNum).trigger('change').prop('readonly');
		$('#itemCodeCell input[name="contractNumber"]').val(conNum).prop('readonly', true); //히든넘버용
		$('#itemCodeCell input[name="itemCode"]').val(itemCode).prop('readonly', true);
		$('#itemNameCell input[name="itemName"]').val(itemName).prop('readonly', true);
		$('#brn input[name="brn"]').val(brn).trigger('change').prop('readonly', ConBool);
		$('#brn input[name="company_name"]').val('').trigger('change').prop('readonly', ConBool);
		$('#brn input[name="company_account"]').val('').trigger('change').prop('readonly', ConBool);
		$('#brn input[name="company_note"]').val('').trigger('change').prop('readonly', ConBool);
		$('#unitPriceCell input[name="price"]').val(unitPrice).prop('readonly', ConBool);
		$('#leadTimeCell input[name="leadTime"]').val(leadTime).prop('readonly', ConBool);
		$('#contractNote input[name="contractNote"]').val(contractNoteth).prop('readonly', ConBool);
		
		$('#contractDate input[name="contractDate"]').val(contractDate).prop('readonly', ConBool); //6/4 추가 계약일
		

		
		
		//계약서에 값넣기..
		 $('#contractName').text(itemName);
		 $('#contractPrice').text(unitPrice);
		 $('#contractPrice1').text(unitPrice + '원/개');
		 $('#contractLeadTime').text(leadTime);
		 $('#contractNote1').text(contractNoteth);
		 $('#contractCompany').text(companyName + '(주)(이하 "값"이라 한다)와 매수인 MIT(주)(이하 "을"이라 한다)은 계약 당사자간 아래와 같은 물품공급 계약서를 체결한다.');
		
		 
    });
    
    // '사업자 정보'로  업체명/계좌/비고를 불러옴
    $('input[name="brn"]').on('change', function(event) { 
        var brn = $(this).val(); 
        if (brn !== '') { 
            $.ajax({
                url: '/getCompanyInfo', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ brn: brn }), // 사업자번호 전송
                success: function(response) {
                    // 출력
                    $('input[name="company_name"]').val(response.company_name);
                    $('input[name="company_account"]').val(response.company_account);
                    $('input[name="company_note"]').val(response.company_note);
                }
            });
        }
    });
});
	</script>


	<script>
	// 계약을 확정하는 함수
function confirmContract(contract_number) {
    var result = confirm("계약을 확정하시겠습니까?");
    if (result) {
        // 확인 버튼을 눌렀을 때 컨트롤러에 계약 ID를 전달하여 요청을 보냄
        window.location.href = "/contractOn?contract_number=" + contract_number;
    } else {
        // 취소 버튼을 눌렀을 때 아무 동작도 하지 않음
    }
}
	
function deleteCon(button) {
	 var cNo = button.getAttribute('data-contract-number');
	 var contractYn = button.getAttribute('data-contract-yn');
	 console.log(contractYn);
	if(contractYn == 'y'){
		alert("완료된 계약한 삭제할 수 없습니다.");
		return;
	}
    var result = confirm("계약을 삭제하시겠습니까?");
    if (result) {
        // 확인 버튼을 눌렀을 때 컨트롤러에 계약 ID를 전달하여 요청을 보냄
        window.location.href = "/contractOut?contract_number=" + cNo;
    } else {
        // 취소 버튼을 눌렀을 때 아무 동작도 하지 않음
    }
} 
	
	
//검색 기능
//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능//검색 기능
function performSearch() {
    var filter = document.getElementById('filterSelect').value; // 필터 값을 가져옴

    var searchText = document.getElementById('searchInput').value.trim(); // 검색어 값을 가져옴
    var tableRows = document.querySelectorAll('#contractList table[id="t3"] tr');

    tableRows.forEach(function(row) { //매핑
        if (!row.querySelector('th')) {  //th는 제외
            // 검색 대상 열을 선택할 때 필터 값을 사용하여 수정
            var searchTarget = row.querySelector('td:nth-child(' + (parseInt(filter) + 1) + ')').textContent;
            if (searchTarget.includes(searchText)) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        }
    });
}
</script>

	<!-- 계약서 저장 유효성검사 -->
	<script type="text/javascript">
document.querySelector('form').addEventListener('submit', function(event) {
/*     const contractPath = document.querySelector('input[name="contract_path"]').value; */
    const brn = document.querySelector('input[name="brn"]').value;
    const companyName = document.querySelector('input[name="company_name"]').value;
    const companyAccount = document.querySelector('input[name="company_account"]').value;
    const companyNote = document.querySelector('input[name="company_note"]').value;
    const itemCode = document.querySelector('input[name="itemCode"]').value;
    const itemName = document.querySelector('input[name="itemName"]').value;
    const price = document.querySelector('input[name="price"]').value;
    const leadTime = document.querySelector('input[name="leadTime"]').value;
    const contractDate = document.querySelector('input[name="contractDate"]').value;

    if ( !brn || !companyName || !companyAccount || !itemCode || !itemName || !price || !leadTime || !contractDate) {
        event.preventDefault(); // 폼 제출을 막음
        alert('모든 항목을 입력해주세요.'); // 경고 메시지 표시
    }
});
</script>
</body>
</html>