body {
  background-color: #f1f1f1;
}

.btn-container {
	float: right;
	margin: 0 90px 20px;
}
#row1 {
/* border: solid 1px #999; */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
background-color: white;
border-radius: 5px;
padding: 20px;
margin: 10px 40px;
}

#purchaseOrderListForm {
	width :90%;
	margin:0 auto;
}
.visual-title {
  margin-bottom: 15px;
  border-left: 3px solid black;
  padding-left: 10px;
}


form div {
  margin-bottom: 20px;
}
label {
  margin-right: 10px;
}


.search-container form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.actions {
  text-align: right;
  margin-top: 10px;
}

.table {
	width : 90%;
	margin : 20px auto;
}
.table th {
	text-align : center;
}
.listTable {
	width : 90%;
	margin : 20px auto;
}
