body {
  background-color: #f1f1f1;
}
#row1 {
/* border: solid 1px #999; */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
background-color: white;
border-radius: 5px;
padding: 20px;
margin: 10px 40px;
}

#row2 {
  /* border: solid 1px #999; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 40px;
}
.visual-title {
  margin-bottom: 15px;
  border-left: 3px solid black;
  padding-left: 10px;
}

.search-container {
  width: 90%;
  padding: 20px;
  background: white;

} 
.btn-container {
	float: right;
	margin: 0 140px 20px;
}
label {
  margin-right: 10px;
}

.search-container form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.actions {
  text-align: right;
  margin-top: 10px;
}

/* 반응형 웹 */
@media (max-width: 768px) {
  .search-bar, .date-range {
      display: block;
      margin-right: 0;
      width: 100%;
  }
  select, input[type="date"], input[type="text"], button {
      width: calc(100% - 16px);
  }
}

.sort-button {
  cursor: pointer;
  background: none;
  border: none;
  color: #007BFF;
  padding: 0;
  margin-left: 5px;
}
.regiBtn {
	float: right; 
	margin-bottom : 10px
}

.table {
	width : 85%;
	margin : 20px auto;
}
.table th {
	text-align : center;
}
.listTable {
	width : 85%;
	margin : 20px auto;
}